[2018-06-23 07:12] #163 closed

[2018-06-23 07:21] elblindo commented on #161
I would also prefer to not autoclose error messages or at least to have a configuration option on this behaviour

regards

[2018-06-23 07:35] elblindo commented on #166
i had this error when something in appsettings.json was misconfigured (e. g. required quotation of group names, required "," at the end of all members of enumeration , but not the last or something similar.

[2018-06-25 16:57] #141 closed

[2018-06-25 19:03] narmoucha commented on #162
it didn't work

[2018-06-25 22:29] robina80 opened #172 "If user doesnt remember password"
Hi all,

Lets say a user goes on passcore but doesnt remember their current password, is there a way for them to reset their password even tho they cant remember their current one

Cheers,
Rob

[2018-06-25 22:37] geoperez commented on #172
I'm sorry but there's no way. And we don't have plans to implement it.

[2018-06-25 22:37] #172 closed

[2018-06-25 22:39] robina80 commented on #172
Thats fine thank you for the quick response

[2018-06-26 07:39] narmoucha opened #173 "can't make it work"
I get this image, any help !
![sans titre1](https://user-images.githubusercontent.com/22034834/41896402-cd33604e-7924-11e8-847b-9915f58892ea.png)

[2018-06-26 17:59] geoperez commented on #162
We released a PowerShell script, you can check the README file.

[2018-06-26 17:59] geoperez commented on #173
We released a PowerShell script, you can check the README file.

[2018-06-26 18:07] geoperez commented on #166
@Plop did you check your appsettings.json file?

[2018-06-27 08:02] Plop commented on #166
Yes I did, but I haven't found any error.
I've tried to take a new one and change only the relevant settings, but it's the same. Here it is : https://gist.github.com/Plop/452276149d0e7831450bc207e27d5e9f

I've also checked the link unquietwiki provided, and done a few Google searches, but can't seem to find anything relevant...

[2018-06-28 15:25] 0byt3 commented on #173
Yeah, I got no luck on making it work either. Followed the README as far as I can tell, but not operational. Sad day.

[2018-06-28 16:21] geoperez commented on #173
What issue did you get with the Powershell script?

[2018-06-29 20:46] 0byt3 commented on #173
I didn't use the script, I followed the Installation on IIS section and performed the manual steps.

[2018-07-03 08:39] czKKill opened #174 "We could not find your user account since v3.1"
I've finally find some time to update this excellent tool to latest version from 3.0.2 (where it works fine). But since v3.1 (tried this and latest 3.2.1) I get every time "We could not find your user account error" with or without default domain set.
I've updated the .NET Core Hosting and Core to 2.1.1 and SDK to 2.1.301.
Running it on WS2016.

I've checked the stdout log but could not find any e

[2018-07-03 08:51] unquietwiki commented on #173
@0byt3 Can you verify that the appsettings.json file is set to use the correct "DefaultDomain" for your Active Directory? And did you install the [.NET 2.1 Web Hosting Bundle](https://www.microsoft.com/net/download/thank-you/dotnet-runtime-2.1.0-windows-hosting-bundle-installer) from Microsoft?

[2018-07-03 08:55] unquietwiki commented on #174
@czKKill Hey there. Did you recreate your appsettings.json file; and did you wipe & replace the contents of your old folder with the new version? You should backup your old .json file somewhere so you can copy back in stuff like your ReCaptcha codes.

[2018-07-03 09:05] unquietwiki commented on #162
@narmoucha if you are still having trouble, here is what @geoperez was talking about. https://github.com/unosquare/passcore#powershell-installer ; you'll need to delete your old install folder & IIS AppPool first. Thanks.

[2018-07-03 09:16] czKKill commented on #174
Hi @unquietwiki, I've copied over to the new file just the ReCaptha IDs and adjusted default domain. Please see old working config: [appsettings_302.json.txt](https://github.com/unosquare/passcore/files/2158550/appsettings_302.json.txt) and new: [appsettings_321.json.txt](https://github.com/unosquare/passcore/files/2158554/appsettings_321.json.txt)
Later I've commented out the default domain to tr

[2018-07-03 09:58] unquietwiki commented on #174
@czKKill Thank you for that. (ponders) I'm not sure the JSON will parse correctly with the DefaultDomain commented out. Try removing all the comments. Also, I would see the error you mention at the last place I worked: particularly on folks that haven't directly used the network since a Group Policy change. Might be related to #40 ; could also be related to #147 if user folders aren't permitted to

[2018-07-03 10:00] unquietwiki commented on #162
Just realized #173 was also open. Closing this one.

[2018-07-03 10:00] #162 closed

[2018-07-03 12:34] bringmeict commented on #166
Hi @Plop I've resolved the no log issue by giving the appropriate permissions on the stdout log folder.
![image](https://user-images.githubusercontent.com/40795361/42219947-cce3f302-7ecd-11e8-8ea7-a6645ecee65e.png)
by issuing this command:
icacls <your files folder path> /grant "IIS AppPool\<your application pool name>":M /T

[2018-07-03 12:43] geoperez commented on #166
We should add this to the README file.

On Tue, Jul 3, 2018, 7:34 AM bringmeict <notifications@github.com> wrote:

[2018-07-03 13:14] Plop commented on #166
I've tried using the Powershell script, but I got some errors :
![image](https://user-images.githubusercontent.com/876470/42221325-fc1950fa-7ed1-11e8-9d4c-4741139b14db.png)

I don't have any files in C:\passcore, except appsettings.json, but empty. I tried to put my json file, but it doesn't seem to be working.

For the permissions, I tried the following command, after using the Powershell script

[2018-07-03 13:38] czKKill commented on #174
@unquietwiki I've removed all comments, left the default domain enabled.
Regarding
- #40 I'm trying my own account what is not expired or set to force change
- #147 I'm able to login with this user locally on that server

I've done further debug and  found the problem - domain name. For some reason our primary domain name of something.domain.com doesn't work, but domain.com does. So I guess we can

[2018-07-03 14:30] bringmeict commented on #174
Can confirm, had the same issue. For me it was not clear from the documentation that you need to use your UPN domain instead of the Windows active directory domain, those two are totally different in our AD setup.

[2018-07-03 14:33] geoperez commented on #166
You need at least PowerShell v5 to run the script. I'll update the README file.

[2018-07-03 14:42] bringmeict commented on #166
@plop: you need to pass a directory to icacls. So if you're passcore is served from c:\inetpub\Passcore321 you should use the following command
`icacls C:\inetpub\PassCore321\logs\stdout /grant "IIS AppPool\Passcore Application Pool":M /T`
note: you need to create the \log\stdout directory yourself and then assign permissions
note2: dont forget the backslash after IIS AppPool

[2018-07-03 14:46] bringmeict commented on #166
I solved the 502.5 error by installing https://www.microsoft.com/net/download/thank-you/dotnet-runtime-2.1.1-windows-hosting-bundle-installer (2.1.1) over 2.1.0

[2018-07-03 18:18] unquietwiki commented on #174
Interesting that subdomains wouldn't work. But TBO I've never been given admin control of a mutli-level AD; so never would have caught that! I can try to update the JSON and/or README. Thank you @czKKill & @bringmeict

[2018-07-03 18:18] #174 closed

[2018-07-03 18:36] unquietwiki commented on #166
I'm going to go ahead and close this. @geoperez & I got the README updated with all the discoveries of these past few tickets. Thanks all!

[2018-07-03 18:36] #166 closed

[2018-07-03 18:38] unquietwiki commented on #173
Update on that last comment: some folks were saying you need the 2.1.1 update to resolve some issues.

https://www.microsoft.com/net/download/thank-you/dotnet-runtime-2.1.1-windows-hosting-bundle-installer

[2018-07-04 08:35] Plop commented on #166
Everything is working fine now ! With PowerShell 5, the script ran perfectly. I also have logfiles after the icacls command.

Thanks a lot for your help, and your work !

[2018-07-04 09:09] mihailstacanov commented on #40
Could someone please implement this in the next release?

[2018-07-06 20:23] DRosado12 opened #176 "Exception has been thrown by the target of an invocation."
Hello,

I've gotten Passcore to install with no issues. When I go to change a users password I get "Exception has been thrown by the target of an invocation."

Steps I have taken to verify Passcore is talking to LDAP.

I type in the user name and for current password I just type anything. I then type in the new password twice and get "You need to provide the correct current password."

That tells

[2018-07-10 03:35] maria-valen opened #177 "PassCore for AD Self-service Password Reset"
I am currently setting up Unosquare Passcore. I have extracted the Passcore.zip file and the Passcore-master. I have setup my site using IIS. Here's the problem, when I browse my site, it only shows like the image below:

Here's what I'm running:
Windows Server 2012 R2 x64
IIS 8.5
Physical Path: C:\inetpub\passcore-master\src\Unosquare.PassCore.Web\wwwroot

Hoping for assistance. Thank you.

![pas

[2018-07-10 13:52] Israel-94 commented on #177
You downloaded the source code of the passcore, you need to download the binary release, you can follow the instructions on the README file.

[2018-07-10 13:52] #177 closed

[2018-07-10 20:22] geoperez opened #178 "Add Travis"
**Is your feature request related to a problem? Please describe.**
Add Travis build, include badge.

[2018-07-10 20:24] geoperez commented on #176
Can you enable logs and post it?

[2018-07-11 21:10] #178 closed

[2018-07-12 01:30] geoperez commented on #106
You don't need the source code. Please try to use the powershell script.

On Wed, Jul 11, 2018, 8:25 PM maria-valen <notifications@github.com> wrote:

[2018-07-13 20:55] leonardobiffi opened #180 "Error: You are not allowed to change password"
Try change password, but show error **You are not allowed to change your password. Please contact your system administrator.**

`{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "PasswordChangeOptions": {
    "UseAutomaticContext": false,
    "LdapHostname": "ADTI.TI.com.br",
    "L

[2018-07-16 10:19] jonwitts opened #181 "407 Proxy Auth required"
**Describe the bug**
When submitting a password change we get the following error message pop-up:
"Response status code does not indicate success: 407 (Proxy Authentication Required)."

The server is configured to have direct out-going internet access bypassing the proxy for all sites, which has been confirmed with multiple browsers; however on submission of the password change page we see a 407 r

[2018-07-16 13:53] geoperez commented on #181
Hello,

For the issue related to the Proxy Authentication, I have no idea. You may need to check the logs.

Regarding the reCaptcha, you need to verify that `RecaptchaPrivateKey` is empty to bypass the check on backend.

[2018-07-16 13:55] geoperez commented on #180
That error is because you need to allow users to change the password, it's an Active Directory configuration. Please verify your domain settings.

[2018-07-16 16:00] jonwitts commented on #181
Hi,

We have increased all three logs up to Debug level and cannot find anything in there about proxy auth errors. I can confirm that with the reCaptcha disabled and RecaptchaPrivateKey empty it appears to allow us to reset users passwords (waiting for the min password age to pass on our test user to confirm!).

We would quite like to enable the reCaptcha though... What method implements the reCap

[2018-07-16 16:03] geoperez commented on #181
But your IIS server is accessing to the web by proxy or not?

[2018-07-16 16:05] jonwitts commented on #181
No, we have set a bypass up so the server can get directly out to the internet. However if auto-detection were running in some of the scripts it is possible that it would detect our proxy config via the DNS WPAD entry...

[2018-07-16 18:53] geoperez commented on #181
You may need to check the proxy configuration for web.config: https://docs.microsoft.com/en-us/dotnet/framework/network-programming/proxy-configuration

[2018-07-17 13:04] Vafele opened #182 "CheckAllowedAdGroups not working"
Hi,
We tried testing CheckAllowedAdGroups parameter in our environment, but didn't manage to get it to work.
For example:

"CheckRestrictedAdGroups": false,
    "RestrictedADGroups": ["Domain Users"
    ],
    "CheckAllowedAdGroups": true,
    "AllowedADGroups": [
"Domain Users"
]
  },

This does not work for domain users - I'm still getting the "You are not allowed to change your password" messag

[2018-07-17 14:58] jessejohnson-bnet opened #183 "username validation doesn't allow for @domain anymore"
Since the Jul12 change, can't use username@domain

[2018-07-22 14:48] mishiago31 opened #184 "Please enter a valid username"
Capital Letters are not allowed when typing the  Domain user?
"Please enter a valid username"

Steps to reproduce the behavior:
1. Just type the User with Capital Letter.

**Expected behavior**
Users always type their user with Capital Letter.

Passcore - 3.1.0.

Please Advise.

[2018-07-23 01:57] macaus opened #185 ""We cannot find your user account""
Hi

When I set it all up as per your notes I get a message at the bottom of the screen when I try to change a password. "We cannot find your user account" appears with an OK button. Tried it with several known accounts and all the same message.  Have set the default domain and the LdapHostname to the local domain and dc respectively.

Any suggestion please?

Mark

![image](https://user-images.gith

[2018-07-23 14:36] wittmannc opened #186 "api/password not found"
I installed version 3.2.1 of passcore on a Windows Server 2016.

My installations path is C:\passcore\wwwroot
Index.html with <base href="/"> is working and password change is possible.

Now my problem:
I want to access the passcore site with https://server.mydomain.com/tst
I changed the index.html file to <base href="/tst/" /> and moved all files from wwwroot to wwwroot\tst

In this setup, I can

[2018-07-23 15:57] unquietwiki commented on #186
The site runs as an server app, not as a regular website. You're probably
going to need to delete the current site, and try the new PowerShell script
to reinstall. Thanks!

On Mon, Jul 23, 2018, 7:36 AM wittmannc <notifications@github.com> wrote:

[2018-07-23 22:59] gtourkas commented on #176
@DRosado12 Have the same problem. It occurs when the supplied password does not conform to the domain password policy. See more here:

https://www.morgantechspace.com/2015/09/Change-Password-target-of-an-invocation.html

[2018-07-23 23:29] macaus commented on #185
Sorry guys, it turned out to be me and a comma when I needed a fullstop. Damn typo. Sorry to bother you and keep up the great work. This version is awesome.

[2018-07-23 23:29] #185 closed

[2018-07-24 06:39] AvivMalka opened #187 "We could not find your user account - For old users"
**Describe the bug**
I have a user I created 2 months ago, before I deployed PassCore - When I try to change his password, I get the following error:
We could not find your user account.
But if I create a new user in AD, there is no problem reseting his password.

**To Reproduce**
Steps to reproduce the behavior:
1. Tried to change an old user pass, not working
2. Created new user, changed his pas

[2018-07-24 07:15] wittmannc commented on #186
This was filtered in my first question: I changed 'href="/"' to 'href="/tst/" /'.

'iissetup.ps1 c:\passcore' creates the same website as I already have. tst/api/password still not found with the new site.

[2018-07-29 07:51] collinks2 commented on #21
Hello,
Am new to Github. Am not a developer.i am researching on how can i design a webpage for AD users to able to change and reset password with ease.Google directed me to passcore.what do i download to get stated? In the webpage sample ,i do not see the option of password reset in case the user forgets his password. I will appreciate any help

[2018-08-02 20:13] unquietwiki commented on #187
@AvivMalka @bmeyer06 Hey guys, please indicate what OS' you're running Passcore on; as well as if you are relying on Active Directory, or LDAP. I know the latter is being worked on for improvements.

[2018-08-02 20:16] bmeyer06 commented on #187
I'm running it on Windows Server 2016 Datacenter. It's relying on Active Directory.

[2018-08-02 20:27] unquietwiki commented on #187
@AvivMalka @bmeyer06 I think this can be a problem for old group policies, and/or an inability for the user to log into the server; #147 might be related.

[2018-08-02 20:36] bmeyer06 commented on #187
I don't see how that could be. I have a subset group of users that all perform the same function, are all members of the exact same security groups and user accounts all exist in the same OU, and the issue happens on ~25% of them (give or take).

On the server side, the new environment (which has the issue) is running 2016. The older environment (which works great for everyone) is running 2012 R2.

[2018-08-02 20:53] unquietwiki commented on #187
@bmeyer06 At my last job, where I deployed Passcore, I observed a behavior like you're describing with users that hadn't been active on the system in a while. Remote users may need to log in on the actual network itself, to get their AD profiles to update correctly. The company was also doing stringent password requirements.

[2018-08-03 12:45] shethpriyank commented on #187
Hi I have installed successfully. I am able to browse. configured all required information. Now the problem is, when we try to change password it shows message "We could not find your user account" Pl. help here in diagnose the problem and resolve the same.

[2018-08-03 14:49] robina80 opened #188 "adding multiple domains in appsettings"
hi all,

i have added my default domain in the appsettings but we have more than one domain

can i add multiple domains?

cheers,
rob

[2018-08-03 14:51] geoperez commented on #188
No, you can't add multiple domains.

And we have no plans to add this feature. PR welcome!

[2018-08-03 15:00] #188 closed

[2018-08-03 23:23] elbrown99 opened #189 "MSBUILD : error MSB1003: Specify a project or solution file."
Hi,

I'm getting an error "MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file." when trying to do the dotnet publish command.

I'm not a developer but was excited to see the tool.  Unfortunately I can't get by this error.  I'm trying to install on Windows 2016.

Thanks for any help.
elbrown99

[2018-08-03 23:26] geoperez commented on #189
Do you need to change the source code? If not, please try to download the binaries or use the PowerShell script to install.

If you still want to build the solution, you may need to download the source code from here: https://github.com/unosquare/passcore/archive/master.zip

You may need to install .NET Core SDK,

[2018-08-03 23:43] elbrown99 commented on #189
Really appriecate the quick feedback.  I don't need to change the code.  Like I said I'm not a developer, so I just need to copy the binaries to the wwwroot\passcore?

I did install the SDK.

[2018-08-04 18:41] geoperez commented on #189
I suggest you use the guide [Installation on IIS](https://github.com/unosquare/passcore#installation-on-iis).

[2018-08-04 18:43] geoperez commented on #183
Did you add a default domain to your settings?

[2018-08-04 18:44] geoperez commented on #176
Status?

[2018-08-04 18:44] geoperez commented on #173
Status?

[2018-08-06 08:44] AvivMalka commented on #187
@unquietwiki Windows 2012 R2 with Active Directory.

I still don't see anything on the logs.. Tried to reinstall it so many times - nada

[2018-08-06 18:21] jessejohnson-bnet commented on #183
I did, and it works fine now without @domain.

[2018-08-06 18:29] jessejohnson-bnet commented on #180
I get this same error on some users, but not all. Noone affected has "user cannot change passwd" set on their account.

[2018-08-07 13:37] geoperez commented on #40
Hi guys,

I just published a new version (3.3.0) using a fix by @hoetz.

Let us know if that works for you.

[2018-08-07 13:39] geoperez commented on #18
Out of scope.

[2018-08-07 13:39] #18 closed

[2018-08-07 20:55] jessejohnson-bnet commented on #180
I think I have narrowed this down to users that are domain admins are not allowed to change their passwords. Does that make sense?

[2018-08-07 20:56] geoperez commented on #180
Maybe you have domain policy blocking to change passwords to domain admins?

[2018-08-08 14:53] ron-slc commented on #40
Hello.  I see there is a bug.

When a user supplies a BAD "Current Password", the "User must change Password at next login" flag is cleared (success or not.)

[2018-08-08 15:03] geoperez commented on #40
Good catch. Let me fix it.

[2018-08-08 16:02] Israel-94 commented on #184
Hi @mishiago31, If you want to change this you need to download the source code and change on ClientApp/app/change-password/app.change-password.ts the line 18 from `const usernameRegex = /^[a-z0-9._-]{3,15}$/;`  to `const usernameRegex = /^[a-zA-Z0-9._-]{3,15}$/;` and then follow the "Installation on IIS" from step three if you want. Or you can try download the latest release, that have that confi

[2018-08-08 17:06] jessejohnson-bnet commented on #180
Ok, so it turns out the built in "CheckRestrictedAdGroups": true, has "Administrators" in it. That seems to be pattern/regex matching "AWS Delegated Administrators". Making my own group of denied users and changing the list to it.

[2018-08-08 19:35] rahogan opened #191 "Red Alert Message Staying in RECAptCHA"
**Describe the bug**
After i completed the setup via powershell install, i make changes to match my info. When I navigate to teh portal, the Red "This recaptcha is for testing purposes only, please contact admin if I see it" message. I am not sure how to get rid of it. Also, I have put in our ldap info, and I keep getting error that it could not find my account when trying to change a password. Bu

[2018-08-08 19:42] geoperez commented on #191
You need to setup the Recaptcha key. Check [Customization](https://github.com/unosquare/passcore#customization-and-configuration).

[2018-08-08 19:42] geoperez commented on #189
Status?

[2018-08-08 20:06] rahogan commented on #191
I have gone to google/recaptcha and obtained site and private key. I have
loaded those in the correct places in .json file, but I am still getting
the red alert across the recaptcha area.

Is that the process you are referring to?

Thank you for the quick response.

On Wed, Aug 8, 2018 at 3:42 PM Geovanni Perez <notifications@github.com>
wrote:

--
Rick Hogan - Systems Administrator
Mid-East Caree

[2018-08-08 20:41] elbrown99 commented on #189
Hi,

Thanks for the follow up.

I guess I ran into the situation of asking for help when I was desperate.
The clock ran out on me and I had to deliver the machine without a good
solution.

I was following the IIS instructions got tangled up with step 3, which I
now assume based on your response isn't required unless you modify the
code.  I hope to take another run at it when I'm back at the site i

[2018-08-08 20:47] theofficefan opened #192 "Complexity requirements"
No matter what user I try to change its password, I get the following error:

"The password does not meet the password policy requirements. Check the minimum password length, password complexity and password history requirements. (Exception from HRESULT: 0x800708C5)"

I am far exceeding the complexity requirements (as well as trying completely different passwords) so this makes no sense.

[2018-08-09 12:38] nikichcom opened #193 "Can't change reCaptcha language"
Hello. I've installed the latest version using the non-powershell method. Eveything is working just fine except for one thing - reCaptcha box language.

When I'am opening the passcore page everything is in English, but captcha box is fully in Russian (Locale language). ![My_page](https://user-images.githubusercontent.com/9711775/43899321-38d27528-9bea-11e8-856d-b2005edf9ce5.PNG)

I'm not sure why

[2018-08-09 12:41] nikichcom commented on #192
I've fixed the same issue by setting the "UseAutomaticContext" to "false" in appsetting.json file. Hope this will help you.

[2018-08-09 12:50] nikichcom commented on #193
Here is what I've found on the internet (most popular page): [link](https://stackoverflow.com/questions/28769893/setting-recaptcha-version-2-set-another-language-other-than-english)

But I'm not sure where to find this part of code.

[2018-08-10 11:37] ebekker opened #195 "Adding pure LDAP Password Provider -- support Linux hosting"
I have implemented a [pure LDAP-based Password Change Provider](https://github.com/ebekker/passcore) using the [Novell LDAP port](https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard) to .NET Standard.

I've successfully deployed and tested it on both Windows and Linux hosts (CentOS7).

I did not want to disturb the existing code base too much so the current integration uses conditional c

[2018-08-10 11:39] ebekker commented on #90
You might be interested in #195.

[2018-08-10 11:44] ebekker commented on #90
@geoperez -- is the LDAP support in SWAN a port of the original Java LDAP client from Novell, or from [this port](https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard) to .NET Standard.

The API looks very nice and clean -- do you know how well tested it is?

[2018-08-10 13:42] geoperez commented on #195
That's great. Yes, you can add a new assembly using your provider. The current architecture allows having multiple providers.

You may need to create a similar assembly as `Unosquare.PassCore.PasswordProvider` and implement the interface `IPasswordChangeProvider.cs` from `Unosquare.PassCore.Common`. It's a single method interface very easy to implement with the following signature:

`ApiErrorItem

[2018-08-10 13:48] geoperez commented on #90
Yeah, we took that port as a base, but we have been improving the code trying to use a more .NET-ish approach because it contains some Java things we don't like. For example using `GetEnumerator/obj.Next` instead of `foreach`, also the awful `ArrayList`.

[2018-08-10 13:52] geoperez commented on #195
I didn't check your repo before to post the previous comment. Please submit the PR.

[2018-08-10 17:25] #195 closed

[2018-08-10 18:52] #183 closed

[2018-08-10 18:53] geoperez commented on #181
Status?

[2018-08-10 22:39] CalebAlbers commented on #16
I know this is a couple of years old, but I thought I would add some insight on the topic given that I've recently set up Passcore. One way to handle additional verification more abstractly would be to add a step in the password change workflow that allows administrators to create their own code/handlers for verifying users.

This would allow people to more easily support different MFA solutions (

[2018-08-12 22:03] syntax53 opened #197 "Server 2008 R2 / IIS 7.5 - Works as subdomain but not subfolder/app"
**Describe the bug**
I want to setup it up as a subfolder / custom application.  I have made the change to the index.html as instructed (changing `<base href="/"> to <base href="/pass/">`) but the page just says on "Loading Passcore...".  The browser loads the index.html but gets 403 / forbidden codes on loading any of the java or css files.  I don't see any errors in the application log or in the

[2018-08-12 23:08] geoperez commented on #197
@unquietwiki did you install PassCore as subfolder?

[2018-08-12 23:12] syntax53 commented on #197
Just to add, "works" on the subdomain isn't completely working either.  As I'm trying to customize and test it, I cannot get it to change any passwords.  I've tried with and without the LDAP configuration.

One odd thing is it will not accept ANY username that contains an @ symbol.  It always errors with "enter valid username" (note: NOT enter valid 'email address').  I'm very familiar with regex

[2018-08-13 23:43] stevenmcastano commented on #184
I'm running into a problem now myself... I have a few usernames that are over 15 characters long... do I still have to download the source code to change this? Or is it something there's a setting or some javascript I can easily change??

[2018-08-14 00:06] geoperez commented on #184
Let's increment to 20. Is there any MSDN document related? @israel-94

[2018-08-14 15:53] Israel-94 commented on #184
@geoperez I found the [User Name Format](https://docs.microsoft.com/en-us/windows/desktop/secauthn/user-name-formats) and there is already incremented to 20 characters long in the recent versions.
@stevenmcastano for versions 3.2.1+ you can set your own regex for the username validation in the appsettings.json file

[2018-08-14 20:38] aaloise commented on #192
@nikichcom when I set it to false, I get the "RPC Server Unavailable" error

[2018-08-14 20:54] smegnl opened #199 "LDAP user and password settings being ignored."
First im sure this is not a bug, but something not configured right on my end.
Passcore 3.1.0
WS 2012r2
Page loads just fine, but no matter which user I use, they get the "The username or password is incorrect"

I set my "UseAutomaticContext": false,
ive tried "LdapUsername" with both @domain.com and without
I know my ldap works, because it does find the users.

I made my "LdapUsername" guy an dom

[2018-08-14 21:42] Israel-94 commented on #193
Hi @nikichcom , I made some changes and they were push to master. The language setting now will affect the recaptcha.

[2018-08-14 21:42] #193 closed

[2018-08-14 21:45] smegnl commented on #199
i also noticed it says passcore 3.1.0 although the zip file i downloaded said 3.3.0

[2018-08-15 13:16] nikichcom commented on #193
Hello, @Israel-94, thanks. What do I need to do on my side to make those changes apply on my site?

[2018-08-15 16:06] Israel-94 opened #200 "LDAP provider"
**Is your feature request related to a problem? Please describe.**
* [ ] Check the LDAP provider project
* [ ] Add to README

[2018-08-15 19:29] rahogan commented on #191
Thank you for your response. I was able to get the app working perfectly! The recaptcha is now working.

[2018-08-15 19:29] #191 closed

[2018-08-15 19:33] rahogan opened #201 "Customize the index.html page"
Hello all,

I have the passcore app working perfect. I would like to alter the index.html page and customize it with say our school logo, but I am not able to add the background-image. No matter where I add the bg image code, it does not reflect on the page. I can change the color of the page fine, but does not allow me to add an image. Am I doing something wrong on the HTML side, or will the app

[2018-08-15 21:33] geoperez commented on #201
You need to modify the Angular webapp. The index.html is just a placeholder to load the webapp. You need to start checking at: https://github.com/unosquare/passcore/tree/master/src/Unosquare.PassCore.Web/ClientApp/app

[2018-08-15 21:34] geoperez commented on #197
What version are you using?

[2018-08-15 21:49] syntax53 commented on #197
3.3.0

[2018-08-16 02:11] geoperez opened #202 "Unify Application settings across providers"
Unify Application settings across providers

[2018-08-16 09:00] nikichcom opened #203 "Subdomain support"
Hello! In my company we are using multiple domain names.
For example: the parent domain is @internal.mydomain.com and second @mydomain.com (both of them under one forest).
And of course usernames for changing the password depend on theese two domain titles.

Currently DefaultDomain is disabled in my appsettings config because when it's enabled users with secondary domain are not able to change pas

[2018-08-16 11:55] rahogan commented on #201
Thank you. I was not sure where to look on the site, as I am new to it.

[2018-08-20 18:33] LionelJeeper opened #204 "attribute for user account"
**PassCore Server**
- OS: Windows Server 2012R2
- Provider: Active Directory via LDAP
- Passcore Version: 340

What attribute does Passcore use to look up the user ID?  I don't see an option to specify which attribute it uses in the appsettings.json file.  Similar programs use uid or sAMAccountName, but would be nice to specify attribute to look for.

[2018-08-20 18:46] smegnl commented on #204
for the other program we changed
Changed..
$ldap_login_attribute = "uid";
TO
$ldap_login_attribute = "sAMAccountName";

[2018-08-20 18:47] smegnl commented on #199
seem we had an ssl cert issue on the ldap server

[2018-08-20 18:47] #199 closed

[2018-08-22 02:57] avm5689 opened #205 "Stuck on Loading Passcore"
When attempting to load upgraded version of Passcore (was originally installed on v3.0.0), stuck at "Loading" screen. Chrome Console displays error messages: Uncaught referenceError: webpackJsonp is not defined (polyfills.bundle.js:1). Message also applies for vendor.bundle.js and main.bundle.js

Screenshot:
[https://i.imgur.com/9rNloNs.png](url)

Recycling the IIS application pool and restarting

[2018-08-22 04:37] unquietwiki commented on #205
Please backup your .json file that has your config; delete the contents of
the current install folder; copy in the new version. Alternatively, save
the .json config; wipe out whole setup; and use the Powershell script to
reinstall.

On Tue, Aug 21, 2018 at 7:57 PM avm5689 <notifications@github.com> wrote:

[2018-08-27 15:16] veinom commented on #205
I'm having the same exact error ... did you ever find a solution?

I deleted the old webapp and installed to a new directory and edited the new appsettings.json file to put in the correct information - but it remains stuck exactly like in your screenshot.

[2018-08-30 14:40] veinom commented on #187
I'm having this issue as well - "We could not find your user account"

I've updated the DefaultDomain in appsettings.json and have tried both our usual domain and our short domain names.  With the previous version I would append the domain in passwordcontroller.cs by doing model.Username += "@domain.com" , and it worked ... but domain.com doesn't work for the DefaultDomain.

Is there any logging b

[2018-08-30 16:37] veinom commented on #204
In PasswordChangeProvider.cs here is where the user is found:

 var userPrincipal = UserPrincipal.FindByIdentity(principalContext, username);

Shouldn't this be

var userPrincipal = UserPrincipal.FindByIdentity(principalContext, IdentityType.SamAccountName, username); ?

I've tried updating the code and compiling but I'm having trouble compiling the current version ... is there a new SDK or dotnet

[2018-08-30 16:54] geoperez commented on #204
The ClientApp (Typescript) is failing to build. Probably a new Angular version.

[2018-08-30 17:07] smegnl commented on #204
I never got it to work. I moved on to another  product. But I woulndnt mind going back to passcore is the sam thing can be fixed.

[2018-08-30 17:26] geoperez commented on #204
Let me take a look at my environment.

Just out of curiosity, what other product would you use?

[2018-08-30 17:34] smegnl commented on #204
https://github.com/ltb-project/self-service-password

[2018-09-03 14:36] mihailstacanov commented on #40
@geoperez I just installed and configured 3.3.0 version and successfully tested "passwords set to change at next login" but by user which password has expired (msDS-UserPasswordExpiryTimeComputed attribute in date format is 15.08.2018 11:41:07) changing password doesn't work (account hasn't been found error). Service account has needed permissions. I can provide you logs from stdout which I can't

[2018-09-07 07:04] owls42 commented on #182
I have this same issue - there is a logic problem in Unosquare.PassCore.PasswordProvider/PasswordChangeProvider.cs (currently lines 73-82) where password change is denied if any single group a user is a member of is _not_ listed (it has been copy-pasted from the CheckRestrictedAdGroups block just above it)

[2018-09-07 07:15] diogenes25 opened #207 "No Error on Website when failed to connect to any configured hostname in LdapPasswordChangeProvider"
**PassCore Server**
- OS: Windows
- Provider: LDAP

**No Error on Website when Exception "failed to connect to any configured hostname" was thrown**
When an error in the Method "LdapPasswordChangeProvider.BindToLdap()" occurs, no message will be shown on the website.

**To Reproduce**
1. Insert a wrong LdapHostname
2. Try to change a Password. Regardless if the user exists or not, because the Exce

[2018-09-10 07:43] diogenes25 commented on #201
You could modify the css-body in yout index.html here:
https://github.com/unosquare/passcore/blob/master/src/Unosquare.PassCore.Web/ClientApp/index.html

[code]
And copy your image here: https://github.com/unosquare/passcore/tree/master/src/Unosquare.PassCore.Web/ClientApp/assets/images

[2018-09-10 12:49] #207 closed

[2018-09-10 17:56] geoperez commented on #205
Can I close this issue?

[2018-09-12 01:55] 65fastback opened #209 "Powershell installer script"
Script is broken,
Is not getting the right URL to download the zip file

[2018-09-12 12:41] robmorin opened #210 "How to disable the captcha?"
How can i disable the captcha? I cannot seem to find how in app settings file?

Thanks...

[2018-09-12 16:54] geoperez commented on #210
You need to set an empty string in the `RecaptchaPrivateKey` setting.

[2018-09-12 17:15] geoperez commented on #209
I just fixed the script, can you try again?

[2018-09-12 17:18] robmorin commented on #210
Ok thanks that worked..
Have a good one!

[2018-09-12 17:19] geoperez commented on #210
Closing.

⭐️Please star this project if you find it useful!

[2018-09-12 17:19] #210 closed

[2018-09-12 18:50] veinom commented on #204
Was this fixed in the updated version?  I'm still getting "We could not find your user account" when putting in a username / sAMAccountname

What is the default search parameter for FindByIdentity when no IdentityType is provided?  It seems like it should be this to search by sAMAccountname:

var userPrincipal = UserPrincipal.FindByIdentity(principalContext, IdentityType.SamAccountName, username);

[2018-09-12 18:51] geoperez commented on #204
cc @diogenes25

[2018-09-12 18:54] smegnl commented on #204
I could never get it to look at SamAccountName, only UID.

[2018-09-12 21:30] diogenes25 commented on #204
I had the same problem with a Linux-Ldap-Server that does not support the sAMAccount-Attribute.
With the last Version you are able to define a different "Search"-string in the file appsetting (section: LdapPasswordChangeOptions):
[code]
the {Username}-part will be replaced with the username.
The example above works fine for me.

This feature is only supported in the LdapPasswordChangeProvider.
Thi

[2018-09-13 01:42] 65fastback commented on #209
Tested, it works perfectly Thanks

[2018-09-13 01:42] #209 closed

[2018-09-13 12:50] veinom commented on #204
In my case my environment is Active Directory - uid is blank for all of our users.  Should I use the LdapPasswordChangeProvider, or is my issue something else?

[2018-09-13 13:17] Emil8250 opened #211 "Cannot disable chapta"
Hi,

I've tried to disable the chapta by editting the appsettings.json and changing the Recaptcha from IsEnabled: true to  IsEnabled: false

When I change the setting, the chapta disappears and everything looks good, until I try to change my password and I get an error saying that it cannot verify that I'm not a robot - exactly as it would if I hadn't filled in a chapta.

Is there a way to fix thi

[2018-09-13 16:03] geoperez commented on #211
Related to issue #210.

[2018-09-13 18:56] diogenes25 commented on #204
Passcore works for our Windows ADs out-of-the-box. That's the reason why I spent some time to let it work on the old servers as well. I guess your problem is somewhere in the AD-settings.

[2018-09-13 19:19] smegnl commented on #204
I would guess that your UID has the same info in it as your SamAccountName. We do not use UID. For the other product i set up, they had a spot in the cfg to put in UID or SamAccountName. That worked just fine.

[2018-09-13 19:37] veinom commented on #204
I have UseAutomaticContext set to false - I have LdapUsername and password set.  I know that the initial bind to AD works because if I purposely put in the wrong password it gives me "Logon failure: unknown user name or bad password." - but once I switch it to the correct password it allows me to search but gives me the Account Not Found error.

For the account I've gone into AD and "Delegated acc

[2018-09-14 07:17] Emil8250 commented on #211
Thanks, worked like a charm!

[2018-09-14 07:17] #211 closed

[2018-09-19 13:45] chucki79 opened #212 "User is able to set current password again"
I know that you are using the same procedure like an account operator would do changing the user password within ADUC console.
The problem is, that Users are able to set their old/current password as their new password. So the password history is not really checked. Is there any possibility to integrate this?

[2018-09-19 15:19] geoperez commented on #212
Do you have your AD with the policy to `Enforce password history`?

PassCore doesn't keep track of any password, if Active Directory doesn't enforce password history, we can not help you.

[2018-09-20 02:56] bizzarojerry opened #213 "Unable to find users with a space in their login"
**PassCore Server**
- OS: [Windows 2012r2]
- Provider: [Active Directory]

**Describe the bug**
Users with a space in their login are not found in AD and thus unable to reset their passwords.

**To Reproduce**
Use the following AD username syntax firstname lastname i.e. Tony Stark and the user will be unable to be found.

**Expected behavior**
The username to be found and the password to be reset.

[2018-09-20 05:52] chucki79 commented on #212
Yes we do have enforce password history active. Also minimum password age 1 day etc. I am using this tool to change passwords for remote domains.
In appsettings.json we use a User that does have permissions in that remote domain to change/reset passwords. So it seems that passcore always makes a password reset instead of a change. Using a reset obviosly makes it possible to set the same password a

[2018-09-24 09:05] lp2019 opened #214 "multiple domains and offline password change"
Hello guys,

Everything works fine but recently a client asked me if it was possible to change password outside of their site and with another domain.

For example:

- I changed the domain for the correct domain --- works fine
- change password with another domain (since this client has multiple domains *.pt and *.local)
- offline password change, is it possible?

I just added

"DefaultDomain": "d

[2018-09-25 03:06] git0000 commented on #181
I had the same problem with 407 Proxy Authentication
Did try put in the proxy configuration in the web.config which didn't help.

We have TMG in our DMZ which require form authentication, which I think is stopping Captcha going out/in somehow. However I can't change anything in the TMG.

While testing, in appsettings.json, I left
RecaptchaPrivateKey :"", //  <-- yes nothing in there
Recaptcha:{
 "

[2018-09-25 11:15] CleanHit opened #215 "Installation and configuration steps on Linux"
As of version 3.4.0 it is possible to install the service on a Linux machine. Unfortunately I couldn't find any installation (with configuration) steps or any software dependencies for using passcore on Linux with apache2.

To make this more clear. Does using the Linux version means that I can configure the passcore to work on my Linux-Server with apache2 or does passcore only work using Windows 1

[2018-09-25 20:33] geoperez commented on #214
I don't understand the question.

You are trying to have a common PassCore to serve internal and different domains but you want to use the DefaultDomain setting?

[2018-09-25 21:07] CleanHit commented on #215
@geoperez Thank you for the link. So basically I must install the dotnet core 2.1.X runtime (maybe build) on my Linux to be able to run the Releases. I saw some other `ASP.net` app tutorial that uses the `dotnet` command to start a .dll file that starts a localhost Server on some port, I guess that I have to do the same on my Linux.

Could you please provide me with the command sequence that I nee

[2018-09-26 14:59] lp2019 commented on #214
that is correct, adn how about offsite? need to publicate at IIS ?

[2018-09-26 19:29] geoperez commented on #215
Yes, you need `dotnet` exe to run the PassCore Dll. If you check this part (https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-apache?view=aspnetcore-2.1&tabs=aspnetcore2x#monitoring-the-app)

You need to call like PassCore something like this:

[code]

[2018-09-26 20:41] aponteju opened #216 "Access is denied"
After hitting "Change password", I am getting a message at the bottom of the screen that says "Access is denied." There is no further information. I have tried with and without LDAP credentials. I have set the default domain name.

Any thoughts?

[2018-09-27 08:44] royfooklye opened #217 "how to amend insert username instead email address ?"
Hi Guys

how to amend insert username instead email address ?

{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Verbose",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "AppSettings": {
    "EnableHttpsRedirect":  false,
    "RecaptchaPrivateKey": "",
    "PasswordChangeOptions": {
      "UseAutomaticContext": true,
      "LdapHostname"

[2018-09-27 08:45] royfooklye commented on #217
![image](https://user-images.githubusercontent.com/24204789/46134130-c14f6180-c274-11e8-8eb9-0d1f11903bf6.png)

[2018-09-28 00:08] openmoto opened #218 "Security question for password reset."
In my environment, users tend to get locked out because they don't remember their password.
Usually, they can wait 15 minutes and try again after getting locked out, but if they don't remember their password, how do they do a password reset then?

Is it possible to add a security questions feature and get users to register their security questions beforehand, that way if they forget their password

[2018-09-28 14:39] geoperez commented on #218
We are not going to support password reset. Right now, we have no plans to implement it but PR are welcome.

[2018-09-28 21:10] jaldinger commented on #216
Same problem here. Did you discover any new information?

[2018-09-28 22:32] jaldinger commented on #216
In the meantime, I went back to v3.1.0 and it works fine there...

[2018-09-28 22:40] geoperez commented on #216
Question. Did you use the same settings file between versions?

[2018-09-28 22:46] jaldinger commented on #216
I tried with the old and the new. I also compared them and found the only section to be different the "LdapPasswordChangeOptions" section. Didn't seem to have any effect on the error message. I enabled the StdOut log but didn't find any helpful information in the log also.

[2018-10-01 15:06] aponteju commented on #216
@geoperez No, I downloaded a fresh copy of the latest version and set up the new Appsettings file. I also set this up on a brand new domain joined server to eliminate possible errors from the local machine. I'm wondering if the issue is with Active Directory or the application?

[2018-10-01 15:54] geoperez commented on #216
I'm going to check if I can increase the logging details to ease troubleshooting.

[2018-10-03 05:16] greecemunky commented on #216
I'm also experiencing the same issue, and have also reverted to PassCore v3.1.0.  I didn't reuse my older config files - started fresh, updating only the necessary fields.

My environment:

- Windows Server 2008 R2
- IIS 7
- Windows Management Framework 5.1
- .NET Core 2.1 Runtime & Hosting Bundle for Windows (v2.1.1)

POST to https://my.passcore.instance/api/password returns error "400 Bad Reques

[2018-10-03 06:40] greecemunky commented on #216
I created another site and Application Pool to test v3.4.2.

Changing the Application Pool's identity (in IIS 7, select App Pool > Advanced Settings > Process Model > Identity) from ApplicationPoolIdentity to LocalSystem appears to work (mine runs on a DC, if that matters).

Are there's any implications running it as LocalSystem?

[2018-10-03 13:52] lp2019 opened #219 "multiple domains"
hello guys,

is it possible to have multiple domains inside the same server?

like:

domain1= app pool1 + site1 = http://passcore.domain1.com
domain2= app pool2 + site2 = http://passcore.domain2.com
domain3= app pool3 + site3 = http://passcore.domain3.com

I'm trying to have this working by creating a passcore folder for each domain and all configs needed.

cheers

[2018-10-03 23:02] aponteju commented on #216
I tried running as LocalSystem but that didn't work. Still getting the same error. I don't think it's best practice to run IIS on a DC, so I'd rather not go that route.

Let me see if I can try 3.1.0

[2018-10-04 21:38] aponteju commented on #216
I tested 3.1.0. With applying the same settings as 3.4.0, I got "could not access restricted groups" or something to that effect. When I set the RestrictedADGroups to false, the error went away and my password change succeeded.

[2018-10-06 21:39] CleanHit commented on #215
@geoperez Thanks for the support, it worked. Do I have to setup the appsettings.json to work with my Microsoft AD or is it similar to a Windows passcore installation? I mean if my Linux server is domain-joined then passcore works out of the box.

[2018-10-08 08:54] svhsvh opened #220 "Can not login with UPN."
**PassCore Server**
- OS: [Windows ]
- Provider: [Active Directory ]

**Describe the bug**
Our users are used to login with their UPN, but they are not able to login with their UPN. If they try passcore returns: "Please enter a valid username", like you can see in the image below:

**Screenshots**
![image](https://user-images.githubusercontent.com/43951839/46599490-c53a7980-cae7-11e8-8460-01370b3c

[2018-10-08 10:52] diogenes25 commented on #220
The identity is searched by default over the "cn". If you want to find the identity through the UPN, you can change line 26 in File [PasswordChangeProvider](https://github.com/unosquare/passcore/blob/dccaa55c9b13e92a5197d730bdb4315e48ad0eb8/src/Unosquare.PassCore.PasswordProvider/PasswordChangeProvider.cs#L26).cs  as followed.

[code]

[2018-10-08 13:18] svhsvh commented on #220
Thanks, where is that file located? because I'm unable to locate it.

[2018-10-08 13:37] diogenes25 commented on #220
Here:  [passcore/src/Unosquare.PassCore.PasswordProvider/PasswordChangeProvider.cs Line: 26](https://github.com/unosquare/passcore/blob/dccaa55c9b13e92a5197d730bdb4315e48ad0eb8/src/Unosquare.PassCore.PasswordProvider/PasswordChangeProvider.cs#L26)

[2018-10-08 14:04] svhsvh commented on #220
But that is the source code right? Because that file is not present on my passcore installation.

[2018-10-08 14:15] diogenes25 commented on #220
Yes it is.
You must change it the "hard way" (with compile and all the stuff)
We had a similar Problem here  #204.
Maybe we should put a switch in appsettings.json that defines how a user is found (Distinguished Name (DN), Globally Unique Identifier (GUID), Security Account Manager (SAM), Security Identifier (SID) or User Principal Name (UPN)).

[2018-10-08 14:17] geoperez commented on #220
I like your idea.

[2018-10-08 14:27] svhsvh commented on #220
Thanks for your answer. Yes that would be nice!

[2018-10-08 16:03] sharpwg1 opened #221 "We could not find your user account"
Hi,

Just set up passcore but when attempting to change password through the webpage, I am getting "We could not find your user account" for all accounts - I have put in my domain COMPANY.LOCAL into the DefaultDomain field and restarted IIS several times.

Is LDAP configuration required additionally? I did configure the LDAP section as a test but the webpage won't load after I configure that secti

[2018-10-09 17:04] Avatar1966 commented on #221
Hi,

Same here, where to find more info on what ldap call is done?  Also, there is no error in the logs.

Thanks,

[2018-10-09 19:46] geoperez commented on #215
Yes, you need to fill your AD/LDAP server settings in the appseting.json before to use PassCore.

[2018-10-09 19:47] geoperez commented on #220
@svhsvh you can download the current master code or wait for the release probably by Friday.

[2018-10-09 19:48] geoperez commented on #219
Yes, you can. As long you set up a different appsettings.json file in each folder.

[2018-10-09 19:50] geoperez commented on #217
You need to set up the DefaultDomain setting to use PassCore with usernames.

[2018-10-09 19:52] geoperez commented on #213
You can try to change the Regex expression to support whitespace.

[2018-10-10 08:33] svhsvh commented on #220
Thanks! I will wait until the release.

[2018-10-10 15:36] geoperez opened #223 "Support multiples domains in AD"
**Is your feature request related to a problem? Please describe.**
Support multiples domains in AD.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots abou

[2018-10-10 17:57] CleanHit commented on #215
@geoperez Thanks for the help

[2018-10-10 17:57] #215 closed

[2018-10-11 15:40] lp2019 commented on #219
Ok I'm going to test that :) thank you so much for your help

[2018-10-17 10:00] svhsvh commented on #220
Just a quick question, where can I find it when this will be released?

[2018-10-17 10:32] zgariat commented on #221
Hi,

Same here, no errors in logs. It only works for new created users... Important to note that "old users" was created with "password never expire" and now I want to use this website to force all to change their AD passwords. I have installed on multiple machines (including one DC) with same result.

Thank you

[2018-10-17 10:39] zgariat commented on #187
Hi,

Same here, no errors in logs. It only works for new created users... Important to note that "old users" was created copying existing ones (for group membreship) with "password never expire" and now I want to use this website to force all to change their AD passwords. I have installed on multiple machines (including one DC) with same result.
Passcore running on Windows2016Server Standard (1607

[2018-10-17 14:09] geoperez commented on #220
Sorry guys, I've been busy but probably today I'll release it.

[2018-10-17 17:35] geoperez commented on #220
@svhsvh I created a published version from my current branch. Including:

* The PR to define DC Attrbibute by @diogenes25
* New appsettings format
* Logging improved.

[PassCore35.zip](https://github.com/unosquare/passcore/files/2488558/PassCore35.zip)

Let me know if it's working for you. I'll wait feedback before to publish a release.

[2018-10-17 18:56] geoperez commented on #221
Hey guys, I created a new package with more logging:

[PassCore35.zip](https://github.com/unosquare/passcore/files/2488558/PassCore35.zip)

Try to use it and let me know if you can troubleshoot your issue. *Important*: the appsettings file format changed.

[2018-10-17 19:40] Avatar1966 commented on #221
Hi,
Tried that version, I was able to make it work but there's no log.
To make it work:
"UseEmail" must be "true" and enter the email as username
"DefaultDomain" is not needed

What I want is "UseEmail" at "false" and use "DefaultDomain".  <-- Result in "We could not find your user account"

[2018-10-17 20:46] geoperez commented on #221
Yeah when you use email, the default domain setting is ignored.

For the logging please check the README. You need to create the log folder, set up the web.config and set the permissions to the log folder.

[2018-10-18 06:16] zgariat commented on #221
@geoperez It works with email address, I have added "IsEnabled": true, (for Recaptcha) in config file
I will do more testing this days and return with feedback. Many thanks!

[2018-10-18 13:45] Avatar1966 commented on #221
Hi,
Found how to config logs.
In the logs, it says "The User principal doesn't exist".
It should search the SAMAccountName, not the userPrincipalName
In appsettings.json -> "LdapSearchFilter": "(sAMAccountName={Username})"

Is there another setting I must change to make it work with only the Username?

Thanks,

[2018-10-18 15:40] Avatar1966 commented on #221
Hi,
Don't work.  Here is my appsettings.json (renamed in .log)
[appsettings.log](https://github.com/unosquare/passcore/files/2492574/appsettings.log)
 and the log.
[stdout_8428_20181018153238.log](https://github.com/unosquare/passcore/files/2492571/stdout_8428_20181018153238.log)

Thanks

[2018-10-18 15:59] geoperez commented on #221
[code]
mmmm I'm going to increase the logging here.

[2018-10-19 15:16] geoperez commented on #219
Can I close this?

[2018-10-19 15:16] geoperez commented on #214
Keeping status at #219

[2018-10-19 15:16] #214 closed

[2018-10-19 15:17] geoperez commented on #189
Status?

[2018-10-19 15:18] geoperez commented on #187
Please check issue #221

Closing this ticket.

[2018-10-19 15:18] #187 closed

[2018-10-19 15:18] lp2019 commented on #219
Yes please.

De: Geovanni Perez <notifications@github.com>
Enviada: 19 de outubro de 2018 16:18
Para: unosquare/passcore <passcore@noreply.github.com>
Cc: Luis Palma <luis.palma@platerit.pt>; Author <author@noreply.github.com>
Assunto: Re: [unosquare/passcore] multiple domains (#219)

Can I close this?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2018-10-19 15:19] #184 closed

[2018-10-19 15:20] geoperez commented on #182
We change that logic, can you check the branch PassCore 3.5?

[2018-10-19 15:20] #176 closed

[2018-10-19 15:20] geoperez commented on #186
Status?

[2018-10-19 15:29] #219 closed

[2018-10-19 16:40] geoperez commented on #221
Can you try with this new release?

[PassCore35.zip](https://github.com/unosquare/passcore/files/2496647/PassCore35.zip)

[2018-10-19 16:54] Avatar1966 commented on #221
Hi,
Same error.  Here is appsetting and logs:
[appsettings.log](https://github.com/unosquare/passcore/files/2496676/appsettings.log)
[stdout_6292_20181019164641.log](https://github.com/unosquare/passcore/files/2496678/stdout_6292_20181019164641.log)

[2018-10-19 17:37] Avatar1966 commented on #221
Hi,
If I tried with DOMAIN\toto it says "Please enter a valid username".

I checked the information in LDAP and samAccountName is only toto.  The userPrincipalName is toto@mydomain.com and the domain name is mydomain.local.

If you log the actual query, I might be able to find a way to make it work.

Thanks,

[2018-10-19 17:39] geoperez commented on #221
There is no way to log the LDAP query using Microsoft Directory Services, you may try using the LDAP Provider.

[2018-10-19 18:29] Avatar1966 commented on #221
Hi,

Using LDAP Provider don't work either. UseAutomaticContext is at false and in the logs, it says:
`warn: Unosquare.PassCore.PasswordProvider.PasswordChangeProvider[0]
      Using AutomaticContext
warn: Unosquare.PassCore.PasswordProvider.PasswordChangeProvider[0]
      The User principal (toto) doesn't exist`

I will use the email address for now because I don't have more time to work on it.

[2018-10-26 11:37] MAP74 commented on #220
This version works with UPN.
But it fails when user has to change password at next logon.
Error message: You are not allowed to change your password. Please contact your system administrator.

The only version if found where this works ouf of the box is v3.1

[2018-10-26 15:14] geoperez commented on #220
Are you sure about that? Because the Change Password Provider from [3.1 ](https://github.com/unosquare/passcore/blob/3.1.0/src/Unosquare.PassCore.Web/Helpers/PasswordChangeProvider.cs) is pretty much the same code as this version. The only important change is the ability to change the DC attribute to search the user.

There are no changes in how the password is changed.

[2018-10-29 09:11] svhsvh commented on #220
I'am not able to get PassCore35 working, I get the HTTP Error 502.5. I do not understand why because the stable release is working perfect and on the same server. And I have .NET Core 2.1.1 Windows Server Hosting bundle installed.
<img width="643" alt="screen shot 2018-10-29 at 10 07 02" src="https://user-images.githubusercontent.com/43951839/47640047-006a1e80-db63-11e8-9812-9b8278ce2dee.png">

[2018-10-29 13:49] geoperez commented on #220
Do you have a log file?

[2018-10-30 13:17] svhsvh commented on #220
Unfortunately not.

[2018-10-30 13:23] svhsvh commented on #220
Or has PassCore35 more dependencies?

[2018-10-30 13:54] MAP74 commented on #220
Hi,

I did some test to be really sure.

Results below.

Thread that triggered me to try 3.1: https://github.com/unosquare/passcore/issues/216

Test setup:
-----------
AD functional level: 2016
Passcore runs on:
OS: Windows Server 2016 (Member)
Provider: Active Directory
IIS: v10

Password-Policy:
-------------------
Complexity:   Enabled
History:	     Enabled
Max-Age:	     Enabled
Min-Age:	     E

[2018-10-30 14:48] geoperez commented on #220
@svhsvh has a different setting file, did you check that?

[2018-10-30 14:50] geoperez commented on #220
@MAP74 wow! thank you for the information. Let me review again the changes between 320 and 330.

[2018-10-30 16:04] jrindy979 opened #225 "Cannot Change Expired Password -- Version 3.4.2"
**PassCore Server**
- OS: Windows Server 2012 R2
- Provider: Active Directory

**Describe the bug**
Cannot change an expired password on the latest 3.4.2 version of Passcore. I am able to change a password when the account is set to require a password change on next logon though. Service user has these permissions on the OU with our users:
Change password
Reset password
Read pwdLastSet
Write pwdLa

[2018-10-30 16:35] geoperez commented on #220
I noticed a changed introduce after 3.2.0 to set the last password property, and I guess it may could affect. The following release includes a new setting named `UpdateLastPassword` (default value false). If the value is true will execute the last password check, otherwise, continue to password changing.

[PassCore35.zip](https://github.com/unosquare/passcore/files/2530566/PassCore35.zip)

For mor

[2018-10-31 11:37] MAP74 commented on #220
@geoperez The new 3.5 you provided does the trick. Changing passwords with option "User must change password at next logon" enabled is working again,

Log
---
	Message-Logfi:	info: Unosquare.PassCore.PasswordProvider.PasswordChangeProvider[0]
				  PerformPasswordChange for user mpx@xyz.com
			info: Unosquare.PassCore.PasswordProvider.PasswordChangeProvider[0]
				  PerformPasswordChange for user

[2018-10-31 15:33] geoperez commented on #225
Hello, we are releasing a new version. Can you try to use the following release:

https://github.com/unosquare/passcore/files/2530566/PassCore35.zip

[2018-10-31 15:37] geoperez commented on #220
That's cool! Regarding the PasswordMeter, you are right, the current implementation is not right. But I'll target that issue in the following version. I want to release 3.5.0 now to fix the issues between 3.2.0 and 3.4.0.

Can you submit this like a new issue?

[2018-10-31 16:56] MAP74 opened #226 "@geoperez Password Meter - improve calculation of strong passwords"
The PasswordMeter seems to use the classic complexity requirements to measure if your password is a strong one.

```Passw0rd%```
is considered a lot stronger than
```this is an absolute insane long password if you have to type it in every time but easy to remember```
Ironically it provides a link to [https://xkpasswd.net/s/](url) where we are teached why classic passwords are unsafe and why long a

[2018-11-02 13:46] jrindy979 commented on #225
Hi geoperez,

I will try to update the version when I get a chance. Was there any sort of process I needed to follow, or can I place the files over top of the old ones?

[2018-11-02 13:52] geoperez commented on #225
The settings file changed, you need a fresh install.

On Fri, Nov 2, 2018, 7:46 AM jrindy979 <notifications@github.com wrote:

[2018-11-02 14:46] jrindy979 commented on #225
I have been comparing the 2 appsettings.json and trying to mirror my settings between them. I was curious if we need to change anything in order to make expired password changing work in 3.5? I am currently working on bringing up a test site running that version.

The reason I ask is because I see one option "UpdateLastPassword" which is set to false. Is this something that would need to be set to

[2018-11-02 14:56] geoperez commented on #225
Regarding the 'UpdateLastPassword' you can check https://github.com/unosquare/passcore/issues/220#issuecomment-434375284

And for 'UseEmail' is a GUI setting to determinate if the input is an email or just a username. With this last option, you can also set up the 'DefaultDomain' and PassCore will append the domain on backend.

[2018-11-03 14:11] rrafluap opened #227 "Wildcard Certificate"
Before I buy one, can PassCore be served with a wildcard SSL certificate? I seem to remember seeing that it couldn't so ended up buying one specific to the subdomain its on... (originally).

I now need another SSL certificate for another application and it works out cheaper for me to have one wildcard.

Thanks

[2018-11-03 14:16] geoperez commented on #227
PassCore should be hosted in IIS, and this web server support wildcard
certificate.

PassCore, per se, have no limitations with SSL certificates.

On Sat, Nov 3, 2018, 8:11 AM rrafluap <notifications@github.com wrote:

[2018-11-05 03:04] unquietwiki commented on #227
@rrafluap @geoperez https://letsencrypt.org/docs/client-options/ some of the ACMEv2 options may be good here.

[2018-11-07 16:43] piacas opened #228 "error on PS installer"
get this error using PS installer:
Invoke-WebRequest : Unable to connect to the remote server
At line:71 char:16
+ ...   $request = Invoke-WebRequest -Uri "http://localhost:$($iisAppPort)"
+                  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (System.Net.HttpWebRequest:HttpWebRequest) [Invoke-WebRequest], WebExc
   eption
    +

[2018-11-07 16:47] geoperez commented on #228
The error with `Invoke-WebRequest` is because PassCore is not running. Try to enable the logging and check the log files, please.

[2018-11-07 17:29] piacas commented on #228
stdout info:
warn: Microsoft.AspNetCore.DataProtection.Repositories.EphemeralXmlRepository[50]
      Using an in-memory repository. Keys will not be persisted to storage.
warn: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[59]
      Neither user profile nor HKLM registry available. Using an ephemeral key repository. Protected data will be unavailable when application exits.
info:

[2018-11-07 17:35] geoperez commented on #228
Do your IIS have an HTTPS bind?

[2018-11-07 17:38] piacas commented on #228
It does not. Was never setup for one. Not even a cert on server. Whats causing the redirect to https? Can I disable it to test?

[2018-11-07 18:00] geoperez commented on #228
For security reasons, we remove the option to ignore HTTPS. But you can try to use a self-signed certificate:

https://dontpaniclabs.com/blog/post/2017/01/11/creating-self-signed-ssl-certificate-developing-testing-iis/

[2018-11-08 12:45] diogenes25 opened #229 "Wrong Exception-Message"
**PassCore Server**
- OS: [Windows | Linux | macOS]
- Provider: [Active Directory | LDAP]

**Describe the bug**
Wrong errormessage if Ldap-SearchFilter is not set.
https://github.com/unosquare/passcore/blob/03bde30d71525fbe2cbcc77b41ea2129621b2a21/src/Zyborg.PassCore.PasswordProvider.LDAP/LdapPasswordChangeProvider.cs#L275

**Expected behavior**
Just a wrong message

**Additional context**
same he

[2018-11-08 13:42] geoperez commented on #229
Good catch! I'm going to fixed.

On Thu, Nov 8, 2018, 6:45 AM Tjark <notifications@github.com wrote:

[2018-11-12 20:04] VoSubat commented on #221
Are there any news on this issue, yet?
I have the same problem with PassCore35, and hoped for a solution without email-addresses and without having my admin password written to a .json file.
Any idea why the user is not found?

[2018-11-12 20:19] i601254 commented on #221
Me too....Just downloaded and configured today. I'm able to change passwords when using email address but not just username (sAMAccountName). I've set default domain and UseEmail: false - nothing works. Keep getting account not found error.

[2018-11-13 13:19] ps45 opened #230 "Failed to update password"
**PassCore Server**
- OS: [Windows]
- Provider: [Active Directory]

**Describe the bug**
Installed version 3.5.
I get failed to update password: does not meet the password policy requirements on testaccounts.

**To Reproduce**
When i go back to the old version (3.0), the passw change for the testaccounts do work.
I checked, it is not the password policy.

Can it be some setting in appsettings.json

[2018-11-15 20:00] geoperez commented on #229
Resolved.

[2018-11-15 20:00] #229 closed

[2018-11-15 20:00] geoperez commented on #230
Can you post your settings without server names and password, please?

[2018-11-16 08:12] ps45 commented on #230
Hi Geovanni,
Thanks for the help..

this is my appsettings file

{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "PasswordChangeOptions": {
    "UseAutomaticContext": false, // Set true to allow PassCore to reset password using the same credentials, or false if you will fill the cr

[2018-11-16 13:35] geoperez commented on #230
Try to set UpdateLastPassword off.

On Fri, Nov 16, 2018, 2:12 AM ps45 <notifications@github.com wrote:

[2018-11-17 15:55] #202 closed

[2018-11-17 16:04] geoperez commented on #227
Status?

[2018-11-17 16:06] geoperez commented on #230
Status?

[2018-11-17 16:06] geoperez commented on #228
Status?

[2018-11-17 16:07] #220 closed

[2018-11-17 16:07] #218 closed

[2018-11-17 16:07] geoperez commented on #217
Status?

[2018-11-17 16:07] geoperez commented on #213
Status?

[2018-11-17 16:08] geoperez commented on #204
Did you try the new version 3.5?

[2018-11-17 16:09] geoperez commented on #197
Can you try 3.5?

[2018-11-17 16:09] geoperez commented on #182
Status?

[2018-11-17 16:10] #173 closed

[2018-11-17 16:10] geoperez commented on #201
Status?

[2018-11-17 16:11] geoperez commented on #192
Status?

[2018-11-17 19:59] ps45 commented on #230
Hi Geovanni,
Same error. Does not meet the password policy requirements..

[2018-11-20 06:59] owls42 commented on #182
I haven't installed that branch, but inspecting the code (in PasswordChangeProvider.cs, in the new / refactored function ValidateGroups) reveals it performs exactly the same logic test as before, so I strongly doubt that particular code will behave differently...

**Old** (Buggy code raises ChangeNotPermitted if the user is in _any_ _un_listed group)
`if (_options.CheckAllowedAdGroups)

[2018-11-20 13:39] geoperez commented on #182
I can't see the issue. Can you elaborate?

On Tue, Nov 20, 2018, 12:59 AM owls42 <notifications@github.com wrote:

[2018-11-21 22:14] thekeagy opened #231 "Installation Error"
Hello,

Experiencing an issue during install. I followed all the requirements before running Powershell.

I am running this on Windows Server 2016 Datacenter.
Installed the .net tools that you linked.
Installed IIS

I am able to edit the json file but am not able to resolve localhost:8080

Let me know what you think. Thanks

![1](https://user-images.githubusercontent.com/29722134/48870966-afcb9700

[2018-11-21 22:20] geoperez commented on #231
I need to update the powershell script to use SSL, please change your IIS
binding to HTTPS and try manually using your browser.

On Wed, Nov 21, 2018, 3:14 PM thekeagy <notifications@github.com wrote:

[2018-11-21 23:41] thekeagy commented on #231
That did the trick. Imported my cert from my AD and now it loads. Next issue....

It cannot find my users.... I tried email and regular username. I would like to go by SAM for everything.... Let me know if my config looks bad. Thanks!

![1](https://user-images.githubusercontent.com/29722134/48873659-e90a0400-eda3-11e8-83fd-3638da5beb2e.PNG)
![2](https://user-images.githubusercontent.com/29722134/4

[2018-11-22 04:59] owls42 commented on #182
Sure.
Our AD users are members of a fairly wide range of security groups, which we use to assign permission to do various things on our infrastructure (e.g. write permission in a network folder, receive certain role-based notifications, etc)

The current logic in ValidateGroups (and the old logic) correctly blocks users from changing password if they are a member of _any_ group listed in Restricte

[2018-11-22 19:20] ben-ty commented on #221
Same issue for me.
I have done some debug and it seems that options from the config file are not properly handeld : PasswordChangeOptions.IdTypeForUser is empty so _idType is always set to IdentityType.UserPrincipalName.

[2018-11-24 15:43] geoperez commented on #231
Let me take a look

[2018-11-24 15:45] geoperez commented on #221
Hi @ben-ty , what value are you using at `IdTypeForUser`?

[2018-11-24 15:49] geoperez commented on #182
Let me add some unit test to verify the behavior.

[2018-11-24 16:05] ben-ty commented on #221
Hi @geoperez, in my case i am using SAM.

I have done some investigation and I think there is a bug in version 3.5 with the way configuration  properties are injected.

In Startup.cs, line 66 to 75, it should not be the interface IAppSettings who should be use but the real implementation. Additionnaly, "AppSettings" node is never use... I have not the full patch i have done now but the idea is bel

[2018-11-24 16:15] geoperez commented on #221
Let me create a branch to include and test your suggestions.

[2018-11-24 16:47] geoperez commented on #221
Please check my PR: https://github.com/unosquare/passcore/pull/232

[2018-11-24 16:59] geoperez commented on #182
Hi @owls42 can you check the following file:
https://github.com/unosquare/passcore/blob/9e1b689b004d7bdd18a7283e16dd64f050f256fb/src/Unosquare.PassCore.PasswordProvider/PasswordChangeProvider.cs#L140

[2018-11-27 12:40] thekeagy commented on #192
Hello any status? I am not seeing the UseAutomaticContext in the appsetting.json file. I am having same issue of password complexity

[2018-11-29 09:35] thekeagy opened #233 "Failed to update password: Policy Requirements"
Failed to update password: The password does not meet the password policy requirements. Check the minimum password length, password complexity and password history requirements. (Exception from HRESULT: 0x800708C5)

**PassCore Server**
- OS: Windows Server 2016
- Provider: Active Directory (Domain Joined)
- Settings file (without sensitive information):
{
  "Logging": {
    "IncludeScopes": false,

[2018-11-29 13:18] ps45 commented on #233
I have the same problem..

[2018-11-29 16:59] geoperez commented on #233
Just to verify, if you try to change the same password on Windows, you don't get the requirements issue?

Because that Error Code (0x800708C5) is always throw by Active Directory. PassCore is unabled to bypass this [password validation](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements).

[2018-11-30 16:09] geoperez commented on #231
We found some issues with settings. Please check the new version 3.6.0 and the new appsettings file (https://github.com/unosquare/passcore/releases/download/3.6.0/PassCore36.zip)

[2018-11-30 16:10] geoperez commented on #221
Please use the new version: https://github.com/unosquare/passcore/releases/download/3.6.0/PassCore36.zip

*NOTE* - The `appsettings.json` is different.

[2018-11-30 16:11] geoperez commented on #216
Please try the new version:

https://github.com/unosquare/passcore/releases/download/3.6.0/PassCore36.zip

[2018-11-30 16:12] geoperez commented on #182
Please check the new version:

https://github.com/unosquare/passcore/releases/download/3.6.0/PassCore36.zip

[2018-12-03 04:22] crsleeth opened #234 "Turn off forced HTTPS redirect"
**PassCore Server**
- OS: Windows Server 2016
- Provider: Active Directory

**Describe the bug**
PassCore installed with HTTP doesn't work. HTTPS redirection is forced.

**Expected behavior**
It would be preferable if HTTP was an option so that HTTPS and certificates could be handled by a reverse proxy.

[2018-12-03 05:52] crsleeth commented on #234
This was easy to turn off in PassCore release 3.1 by changing EnableHttpsRedirect to false in appsettings.json so I have reverted to that version, but being on an older release isn't ideal.

[2018-12-03 16:05] geoperez commented on #234
OK, good point!

[2018-12-07 20:42] geoperez commented on #234
You can find the change in the master branch. Let me know if you need a build.

[2018-12-07 21:33] geoperez opened #236 "Use Microsoft.AspNetCore.HttpsPolicy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-08 05:44] crsleeth commented on #234
That would be great, but no rush. Thank you!!

[2018-12-10 01:42] owls42 commented on #182
Yes. the 3.6.0 release resolves this issue.

[2018-12-10 01:47] #182 closed

[2018-12-10 15:58] jok0 opened #237 "Doesn't seem to install"
Hi there, i have tried to install using the script and i seem to get the below errors.

It runs the below and closes powershell and tries to re-download the hosting.msi, even though i have already installed it.

I am running Server 2016.

Thanks.

[code]

[2018-12-10 17:41] geoperez commented on #237
OK, I need to fix the script.

[2018-12-10 17:43] geoperez commented on #228
Related #237 and #234

[2018-12-10 17:50] #236 closed

[2018-12-10 17:55] geoperez commented on #234
Please try this:

https://github.com/unosquare/passcore/releases/download/3.6.1/PassCore361.zip

[2018-12-10 19:01] jok0 commented on #237
Hey, thanks for getting back so quick. I thought it was me for a second.
Thanks again.

On Mon, 10 Dec 2018, 17:41 Geovanni Perez <notifications@github.com wrote:

[2018-12-11 08:44] jok0 opened #239 "Remove current password field"
Hi there, i have this working and the tool is great! Although i work in a school and i would love to try get this working where teachers can change students passwords if they have forgotten them.  Would there be any way of removing the current password field?

Many thanks,

[2018-12-11 10:55] illi5 opened #240 "Cannot read property of 'helpText'"
**PassCore Server**
- OS:  Linux
- Provider: Active Directory]
- Settings file (without sensitive information):
{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "PasswordChangeOptions": {
    "UseAutomaticContext": true, // Set true to allow PassCore to reset password using the same

[2018-12-11 13:01] syntax53 commented on #197
Sorry I've already moved on to a different solution (developed our own)

[2018-12-11 17:38] geoperez commented on #240
Can you check the Network tab in Chrome Debugger? I think you may have a bad installation and the API is not respoding.

[2018-12-11 17:41] geoperez commented on #239
You are asking for a reset password form, and this is not what we try to deliver on PassCore. The issue with reset password form, that you need to verify the user somehow (some folks suggest using an SMS code using Twilio) but this feature is out of scope for now.

[2018-12-11 17:41] #239 closed

[2018-12-12 07:08] illi5 commented on #240
Hi,

[2018-12-12 07:08] illi5 commented on #240
![image](https://user-images.githubusercontent.com/45788360/49852674-7661d680-fded-11e8-8c36-1dcf9237cada.png)

[2018-12-12 08:17] illi5 commented on #240
Is the problem with api/password file

[2018-12-12 10:11] illi5 commented on #240
{
	"username": "",
	"currentPassword": "",
	"newPassword": "",
	"newPasswordVerify": ""
}

[2018-12-12 22:34] crsleeth commented on #234
Thanks! It works. I have one issue though and I'm pretty sure it is unrelated to 3.6.1. I'm getting "Please enter a valid email address" when users type in just their user name. I have the default domain set but it still wants an "@".

[2018-12-13 07:58] johnmelodyme commented on #189
According to Microsoft :

[code]

[2018-12-13 14:43] #234 closed

[2018-12-14 12:54] Jatwas commented on #205
Also getting the same error, except I managed to find that it seems to be stuck on a GET request for a password file. No such file exists, so it returns a 404 error in the network tab on firefox's developer tools:

![passcore](https://user-images.githubusercontent.com/45875732/50004430-0a26d480-ff9f-11e8-8260-427fcd6bc138.PNG)

Does anyone know why it's looking to **domain/api/password** when ther

[2018-12-14 16:58] geoperez commented on #205
There is not a /api/password file, that route connects to the WebAPI. If the WebAPI is not responding is probably because IIS has the static files folder as root path. You need to change the root path to the folder containing the web app.

[2018-12-17 09:58] bardware opened #241 "input field user name cleared after passwort change"
My domain admin installed `Powered by PassCore v3.4.2` to allow me to change my password every once in a while. I enter my current password and my new password twice. I get the confirmation my password was changed.
The URL in the browser looks like `http://server.domain/?userName=myuser` the input field user name, however, is empty.
After changing the password I close the browser window. I just no

[2018-12-20 17:34] wakhan007 opened #242 "Change Footer Logo and Text"
Hi,

I want to change the footer logos and text in passcore footer, but I am not able to find the exact file.

Please guide.

[2019-01-02 12:56] szotyii commented on #242
Hi,

It would be a nice feature that we can customize the footer area.

Thanks!

[2019-01-02 15:34] geoperez commented on #241
Can you test with the latest version  (3.6.0)?

[2019-01-02 15:35] geoperez commented on #240
There is not an 'api/password' file, the api route is connected to a WebAPI. Probably your IIS is mounting an incorrect folder.

[2019-01-02 15:35] #227 closed

[2019-01-02 15:37] geoperez commented on #192
Check #233

[2019-01-02 15:37] #233 closed

[2019-01-02 15:38] geoperez commented on #230
Check #233

[2019-01-02 15:40] #189 closed

[2019-01-02 15:41] geoperez commented on #167
This feature is out of scope.

[2019-01-02 15:41] #167 closed

[2019-01-02 15:42] geoperez commented on #143
Out of scope.

[2019-01-02 15:42] #143 closed

[2019-01-02 18:42] k3z0 commented on #241
Hi @bardware,

As @geoperez mentions, this is fully working in the last PassCore version. So please try to update to the last version.

[2019-01-03 15:17] szotyii commented on #242
Thanks for your reply!
We made some change in the main.bundle.js file and we could customize the footer area.

[2019-01-03 15:19] geoperez commented on #242
Can I close this issue?

On Thu, Jan 3, 2019, 9:18 AM szotyii <notifications@github.com wrote:

[2019-01-03 15:25] szotyii opened #244 "Migrated AD users can't change password"
**PassCore Server**
- OS: Windows
- Provider: Active Directory
- Settings file (without sensitive information):
`{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "WebSettings": {
    "EnableHttpsRedirect": true
  },
  "AppSettings": {
    // The following options for AD Provider (re

[2019-01-03 15:38] wakhan007 commented on #242
Please dont close the case now, i am doing some testing and i will update you ..

[2019-01-03 15:39] geoperez commented on #242
Reopening

[2019-01-03 15:52] wakhan007 commented on #242
I have rebuild the Web App but getting below error, when testing it:

Error:
HTTP Error 500.21 - Internal Server Error  Handler "aspNetCore" has a bad module "AspNetCoreModuleV2" in its module list

Steps Followed:
1. Download .NET Core SDK and nodejs.
2. Download and extract passcore-master.zip and go to path \passcore-master\src\Unosquare.PassCore.Web

3. Update Footer.html on path \passcore-mas

[2019-01-03 16:32] geoperez commented on #242
That's odd. did you set up the Application pool as No Managed Code?

[2019-01-03 17:54] wakhan007 commented on #242
I tried on the new system and it has started working :-)

You can close the case now. Thanks for the help.

[2019-01-03 17:56] #242 closed

[2019-01-04 12:45] testbuilds123 commented on #46
It is a old post but might be helpfull for the people like me.I was struggling for 4 days and this link solve my problem. Good Explanation.

http://blog.cionsystems.com/?p=907

[2019-01-04 12:46] testbuilds123 commented on #47
It is a old post but might be helpfull for the people like me.I was struggling for 4 days and this link solve my problem. Good Explanation.

http://blog.cionsystems.com/?p=907

[2019-01-04 12:56] testbuilds123 commented on #9
It is a old post but might be helpfull for the people like me.I was struggling for 4 days and this link solve my problem. Good Explanation.

http://blog.cionsystems.com/?p=907

[2019-01-04 13:39] geoperez commented on #9
I'm going to add this to the README file. Thanks.

[2019-01-08 09:12] mskrishna20051974 opened #245 "Title not working"
**PassCore Server**
- OS: [Windows | 2016
- Provider: [Active Directory]
- Settings file (without sensitive information):

 I installed 3.6 version today. I am able to change the password successfully.  In the previous version we could get the Title on the Page by adding this field.

"ChangePasswordTitle": "Change Account Password",

Now this field does not work.  Is there a workaround for this?

[2019-01-08 13:47] geoperez commented on #245
Yeah, we restore the missing setting in the next version. You can download v3.6.1 at https://github.com/unosquare/passcore/releases/tag/3.6.1

[2019-01-08 13:47] #245 closed

[2019-01-17 22:13] dragonwarrior00 opened #246 "Non-email username"
I am trying to enable username search using SAM attribute. The SAM attribute is firstnamelastname. For example, johnsmith. But I am having issues doing this. Currently "IdTypeForUser" is set to "SAM" and "LdapSearchFilter" is set to "(sAMAccountName={Username})". When I launch the site, I am prompted to enter a valid email address and cannot perform a search using the SAM name. How do I remove the

[2019-01-17 22:36] dragonwarrior00 commented on #246
You hit it on the head. I can't believe I overlooked that after how many times I have searched for it in the appsettings.json file.

[2019-01-17 22:37] #246 closed

[2019-01-21 15:42] dragonwarrior00 opened #249 "Change Password Title Banner Color"
Is there a way to change the banner color at the top behind the Change Password Title?

[2019-01-21 16:02] geoperez commented on #249
Hello, you need to modify the default theme in the Angular client. You can check the following link with info about how theming works: https://material.angular.io/guide/theming.

[2019-01-21 16:03] #249 closed

[2019-01-21 16:04] geoperez commented on #244
We might include a bypass if the groups of the users are not enumerable like in your case, but I'm not really familiar with this issue in AD. Let me check the current code.

[2019-01-21 23:28] robina80 opened #250 "Encrypt LdapPassword change option"
Hi all,

As I need to create a user in AD so it can change passwords I need to delegate that user and then I need to type this username password in plain text in the appsettings.json file

Is there a way to encrypt this password so it doesn't appear in plain text either md5 or sha?

Cheers,
rob

[2019-01-22 09:14] szotyii commented on #244
Hi! Thanks for your answer. I'm not sure if you have to modify anything because if I remove any group filtering from the config the error message is the same. I'll investigate this issue in AD.

[2019-01-22 21:54] JoeArcher007 commented on #145
I know this is a closed request, but I ran into this issue as well. It's a Windows Server 2008 R2. I followed the instructions on the main page but was getting the same issue with the 500.19. Using the suggestion from @avm5689 to download the specific version of .NET Core 2.0.8 worked and I'm now able to see the webpage.

[2019-01-23 21:17] IoTecgh opened #251 "Page Can't be displayed"
**PassCore Server**
- OS: [Windows ]
- Provider: [Active Directory ]

**Describe the bug**
After doing everything in the steps to setup passcore, I can't get to see the page loading. I get the "This page can't be displayed" error and I'm using IIS 8.5 and other sites on it are working.

Please will be glad if you can help me with this.

Thanks

[2019-01-23 21:35] dragonwarrior00 commented on #21
On the new PasswordController.cs file I downloaded it and tried to compile but it produces an error. I have no issue compiling with the original PasswordController.cs file.

error CS0246: The type or namespace name 'AppSettings' could not be found (are you missing a using directive or an assembly referenc?) [C:\passcore-master\src\Unosquare.PassCore.Web\Unosquare.PassCore.web.scproj]

[2019-01-24 08:19] arielgeffen commented on #217
Hi @geoperez

I have tried to update my default domain with the AD domain (its a subdomain) and it didn't work. I also tried changing it to my top-level domain and that also didn't work.

I make the change, save the file and restart the web service - but it still tells me to enter a valid email address?

[2019-01-24 16:34] #217 closed

[2019-01-24 16:38] dragonwarrior00 opened #252 "Identify if account is lock"
**Is your feature request related to a problem? Please describe.**
When an user attempts to change their password with all correct credentials but is currently lock, it will prompt the same error message as if the user entered an incorrect current password.

**Describe the solution you'd like**
A notification stating that the account is currently locked. If possible, before it checks the current p

[2019-01-29 16:36] BENT17 opened #253 "Error when changing password"
I have everything configured with LDAP. When I come to change password I keep getting the following:

Failed to update password: Value cannot be null.
      Parameter name: source

Can someone help me out

[2019-01-29 19:02] BENT17 commented on #253
Logs arent helping much also. Can someone help me out? I feel I am very close to completing this but stuck on the last part

[2019-01-29 19:14] geoperez commented on #253
Try to post your appsettings.json without sensitive data, please.

[2019-01-29 20:45] geoperez commented on #253
What version of ASP.NET Core are you using?

[2019-01-29 20:46] BENT17 commented on #253
v4.0.30319

[2019-01-29 20:48] geoperez commented on #253
Please run `dotnet --info` and paste the output.

[2019-01-29 20:49] BENT17 commented on #253
Version: 2.1.1
  Commit:  6985b9f684

.NET Core SDKs installed:
  No SDKs were found.

.NET Core runtimes installed:
  Microsoft.AspNetCore.All 2.1.1 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
  Microsoft.AspNetCore.App 2.1.1 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
  Microsoft.NETCore.App 2.1.1 [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]

To install addi

[2019-01-29 20:56] BENT17 commented on #253
Updated to 2.2.0 and same issue

[2019-01-29 20:57] BENT17 commented on #253
Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  No SDKs were found.

.NET Core runtimes installed:
  Microsoft.AspNetCore.All 2.1.1 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
  Microsoft.AspNetCore.All 2.2.1 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
  Microsoft.AspNetCore.App 2.1.1 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
  Microsof

[2019-01-29 21:07] BENT17 commented on #253
It doesnt even look like its even doing an LDAP query as if i enter a random user and random passwords I get the above error

[2019-01-29 21:08] geoperez commented on #253
What PassCore version are you using? The latest?

[2019-01-29 21:08] BENT17 commented on #253
yes the latest version

[2019-01-29 21:59] BENT17 commented on #253
Any idea what I can do?

[2019-01-30 09:53] Miudon opened #254 "Failed to update password: While trying to retrieve the authorization groups, an error (1332) occurred."
**PassCore Server**
- OS: [Windows Server 2008 r2]
- Provider: [Active Directory]
- Settings file (without sensitive information):
  "AppSettings": {
    // The following options for AD Provider (remove if you don't use this Provider)
    "UseAutomaticContext": false, // Set true to allow PassCore to reset password using the same credentials, or false if you will fill the credentials below
    "Re

[2019-02-06 14:05] sasfog commented on #253
I'm experiencing the same issue.

My configuration is the following:
Downloaded the Linux zip file. Installed on CentOs 7.3.
.NET runtime version is 2.1.7 (2.1.503 SDK installed)

Currently I have HTTPS redirection disabled, so I'm accessing through HTTP protocol http://PassCoreServer:5000
The LDAP connection is set up with FQDN, secure LDAPS (636 secure port), port is open.
Provided user is domai

[2019-02-06 21:11] geoperez commented on #250
Can I close this issue?

[2019-02-06 21:13] #241 closed

[2019-02-07 16:20] roberts4 commented on #244
Hi, i'm having the same issue - Failed to update password: An error occurred while enumerating the groups. The group could not be found. Tried all different combo of group and OU. Please help

[2019-02-07 16:20] roberts4 commented on #244
Hey, did you find a answer for this? please LMK

[2019-02-08 19:24] xquetzalcoatl commented on #244
Add validation for determine if user have groups and permit to change password.

[2019-02-08 19:49] xquetzalcoatl opened #256 "Migrate project to latest version of Angular"
**Is your feature request related to a problem? Please describe.**
Update Angular on every forms project

**Describe the solution you'd like**
Use new version of Angular

**Describe alternatives you've considered**

**Additional context**

[2019-02-08 20:09] szotyii commented on #244
Im sorry but I dont understand what you are saying. How should I do this?

[2019-02-08 20:10] geoperez commented on #244
We need to publish a new version, sorry!

[2019-02-08 20:11] szotyii commented on #244
Oh! Wonderful! Thank you!

[2019-02-08 20:15] roberts4 commented on #244
Hey guys, thanks for the insight, i believe your answer will help me, due to me downloading Thycotic password reset tool and going thru the motions of setting it up. You need to give "delegate" permissions to the user account that will authenticate the service. check the installation guide here to see which permission to delegate https://thycotic.force.com/support/s/passwordresetserver

[2019-02-08 20:16] roberts4 commented on #244
@szotyii  @xquetzalcoatl   Thanks guys, i'll send an update if it works but wont be able to test until tomorrow

[2019-02-08 20:38] geoperez commented on #254
Check new version 3.6.2, please.

[2019-02-08 20:39] geoperez commented on #244
Check new version 3.6.2, please.

[2019-02-08 20:40] geoperez commented on #252
Can you share your changes?

[2019-02-08 20:43] geoperez opened #257 "Add docfx"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-09 00:04] RichBrew opened #258 "HTTPS redirect not working"
**PassCore Server**
- OS: Windows Server 2016
- Provider: [Active Directory | LDAP]
- Settings file (without sensitive information):

{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "WebSettings": {
    "EnableHttpsRedirect": true
  },
  "AppSettings": {
    // The following option

[2019-02-09 00:50] szotyii commented on #244
It seems good now. I could change two users password which not worked before.
Thanks!

[2019-02-09 05:07] roberts4 commented on #244
oh, did it work when you used version 3.6.2??

[2019-02-09 07:46] szotyii commented on #244
Yes. Only one problem. If the user not member of the AllowedADGroups still can change password. It would be great if the AllowedADGroups could be used somehow.
Thank you very much guys!

[2019-02-11 22:43] xquetzalcoatl commented on #256
Update to Angular 7

[2019-02-11 22:43] #256 closed

[2019-02-13 11:52] Miudon commented on #254
Hi!
I tested the version 3.6.2 but the same error persist

Thanks in advance

[2019-02-13 15:21] geoperez commented on #251
Any status?

[2019-02-13 15:23] geoperez commented on #244
The issue is that AD is throwing an exception, so we cannot read the User Groups. If you can figure another way, maybe using the LDAP attribute `memberOf` let me know.

For now, I'm closing this issue.

[2019-02-13 15:23] #244 closed

[2019-02-13 15:24] geoperez commented on #240
Status?

[2019-02-13 23:47] xquetzalcoatl commented on #258
I can't reproduce this error, i've followed repro steps but the error don´t appear me.

[2019-02-14 09:42] JeromeD49 opened #260 "Update password don't work"
**PassCore Server**
- OS: [ Linux Debian 9]
- Provider: [Active Directory]
- Settings file (without sensitive information):

{
  "Logging": {
    "IncludeScopes": true,
    "LogLevel": {
      "Default": "Debug",
      "System": "Debug",
      "Microsoft": "Debug"
    }
  },
  "WebSettings": {
    "EnableHttpsRedirect": false
  },
  "Kestrel": {
  "EndPoints": {
    "Http": {
      "Url": "http://

[2019-02-14 16:19] JeromeD49 commented on #260
After research, error "LdapException: Server Message: 00002077: SvcErr: DSID-03190EBE, problem 5003 (WILL_NOT_PERFORM), data 0" comes from the protocol LDAP and no LDAPS :

https://community.boomi.com/s/article/ldaperrorcode53

After change the parameter "LdapPort" to 636, I got this message :

![image](https://user-images.githubusercontent.com/47627853/52800756-b444da80-307c-11e9-99a1-4348ecb7c31

[2019-02-14 22:08] geoperez commented on #257
Done!

[2019-02-14 22:08] #257 closed

[2019-02-15 13:12] JeromeD49 commented on #253
I'm experiencing the same issue #260

Have you been able to work on this issue ?

Thanks

[2019-02-15 16:08] xquetzalcoatl commented on #254
Add validation to catch LDAP error

[2019-02-15 18:12] #228 closed

[2019-02-15 20:12] #237 closed

[2019-02-16 03:25] geoperez commented on #253
Related to #260

[2019-02-16 03:31] geoperez commented on #260
The issue `Value cannot be null. Parameter name: input` is because of a null reference in the LDAP exception message. The LDAP Connection (from the Novell Library) is not returning a reason why the connection fails.

We addressed the null reference to throwing a generic LDAP exception, but this is not enough. Since we don't have an environment to reproduce this issue, we are not able to provide a

[2019-02-16 03:38] #250 closed

[2019-02-16 03:38] #230 closed

[2019-02-16 03:39] #192 closed

[2019-02-16 14:35] #197 closed

[2019-02-17 14:33] Miudon commented on #254
Sorry but I did not understand

[2019-02-18 16:11] geoperez commented on #254
I'm going to release a new version soon.

[2019-02-20 17:17] Miudon commented on #254
ok. Thanks a lot :-)

[2019-02-21 17:37] bear-dev opened #262 "Feature request: add password check in dictionary"
Please add support for a password check in a dictionary. A dictionary might be a plaintext file.
eg. dictionary.txt
[code]
etc

[2019-02-22 11:48] #205 closed

[2019-03-04 10:07] coofercat opened #263 "LdapIgnoreTlsErrors and LdapIgnoreTlsValidation are not Documented"
**PassCore Server**
- OS: [Linux (Docker)]
- Provider: [LDAP (in a Windows AD)]
- Settings file (without sensitive information):
[code]

**Describe the bug**
`LdapIgnoreTlsErrors` and `LdapIgnoreTlsValidation` are not described in any of the READMEs, and nor are they in the default `appsettings.json`.

Obviously this isn't a show-stopper, but to figure out how to ignore cert issues requires delvin

[2019-03-04 17:00] coofercat commented on #252
Another possible change is to the toaster message that says "you need to provide correct current password" could be changed to ""you need to provide correct current password, or password was changed within minimum password change time" (or something).

My point being that if your AD has a (default?) minimum password age of 1 day, then you can only change your password once in a 24 hour period. It

[2019-03-04 17:05] coofercat commented on #260
FWIW, I've played about with this a fair bit over the last couple of days, against an AWS Directory Services Microsoft AD service.

In my setup, I couldn't get it to work on port 636 at all. Instead, I'm using 389 with Start TLS. This seems to work, and the AD LDAP will change passwords.

[2019-03-13 03:50] qiwenha opened #264 "Passcore functional problems"
Dear：
i have a question，the overview said  ‘’It allows users to change their Active Directory password on their own, provided the user is not disabled‘’ .
If users password expire，this passcore can do unlock user password and reset password？

Cheers
WenHao

[2019-03-13 15:44] geoperez commented on #264
You can try setting the option `UpdateLastPassword` to `true`. This setting will try to update the LastPasswordSet value for expired passwords.

[2019-03-14 07:23] qiwenha commented on #264
Hi，Geovanni

Thanks you for your valuable advice.
Can i modify the Passcore homepage HTML ICon? and i don't kown.how can add use Google reCaptcha.

[2019-03-14 07:23] qiwenha commented on #264
![image](https://user-images.githubusercontent.com/45479991/54338520-163d3380-466d-11e9-8771-f51d001c0240.png)

[2019-03-14 10:09] qiwenha commented on #264
I See ，This page talking about for To enable reCAPTCHA.I'm trying to use it.

Thanks

[2019-03-14 19:58] geoperez commented on #262
Password check? Can you elaborate?

[2019-03-14 19:59] geoperez commented on #258
@RichBrew status?

[2019-03-15 10:50] Bakanych commented on #251
Facing same issue. Trying to run v.3.6.2 using readme. IIS 7 on windows datacenter 2016 x64. No success, same symptoms.

[2019-03-15 14:22] geoperez commented on #251
Can you elaborate? A screenshot with Chrome Debugger maybe.

[2019-03-16 01:54] Bakanych commented on #251
I don't think app ever started. What I did:
- downloaded the latest release and unpacked it into c:/passcore3;
- installed dotnet core hosting from dotnet-hosting-2.1.1-win.exe installer
- setup apppool using your readme.md
- created application with source = c:/passcore3 and bindings http *  = 8080

When I try to open it I get:
This page isn’t working 192.168.0.1 is currently unable to handle thi

[2019-03-16 17:40] geoperez commented on #251
Running with IIS, did you setup the logs?

On Fri, Mar 15, 2019, 7:54 PM Bakanych <notifications@github.com> wrote:

[2019-03-17 05:05] Bakanych commented on #251
Yes, logs also weren't produced. I checked logs folder permissions.

[2019-03-19 11:53] arielgeffen opened #265 "Using Windows Server 2019 - Need .Net 2.2.1"
**PassCore Server**
- OS: [Windows Server 2019]
- Provider: [Active Directory]
- Settings file (NA)

**Describe the bug**
Used the PowerShell script and was getting 500.21 Error
Googled around and saw that I needed to update to .Net hosting 2.2.1

Updated and PassCore works fine :)

[2019-03-20 11:43] qiwenha opened #266 "Feature question"
I'm deploying using binary passcore and iis 10, and it's running successfully.
But other problems bothered me for a long time，I don't know how to delete footer content in binary passcore.Can I delete it？
I see the source code is adjustable，I tried to download the source code and configure it ，But failure
“dotnet publish --configuration Release --runtime win-x64 --output C:\User\will\Desktop\passco

[2019-03-20 13:18] geoperez commented on #266
What error did you get with the dotnet publish command?

[2019-03-21 04:50] qiwenha commented on #266
error MSB3073:command "npm install" sign out，error code 9009

[2019-03-21 04:52] qiwenha commented on #266
So I want to modify the footer using binary code

Best wishes

[2019-03-21 15:48] 0x3e4 commented on #265
upvoted.. i can confirm this.

[2019-03-21 19:06] geoperez commented on #266
You need to install nodejs because the webapp is using Angular 7 and the
code needs to be transpiled.

On Wed, Mar 20, 2019, 10:52 PM qiwenha <notifications@github.com> wrote:

[2019-03-25 00:31] geoperez commented on #265
I updated the PS script to use the latest version (v2.2.3). Let me know if that works.

[2019-03-25 00:33] geoperez commented on #266
Did you try after installing nodejs?

[2019-03-26 07:57] #264 closed

[2019-03-26 07:57] qiwenha commented on #266
yep

[2019-03-26 07:58] #266 closed

[2019-03-26 13:03] mdzieciol opened #267 "Password doesn't change, without any error - Linux/Docker Installation"
**PassCore Server**
- OS: Linux
- Provider: Active Directory
- Settings file (without sensitive information):

**Describe the bug**
Using command:

I have a problem with changing a password.
After putting username, password and twice new password in the form, I have clean info about successfully changed password:
"You have changed your password successfully.
Please note it may take a few hours for

[2019-03-27 09:58] blz-gh opened #268 "Translate the error messages coming from the DC"
Hi!

  A very good product and it works good so far - Thank You!

  I have translated the UI according the docu, but I can't translate the error messages coming from the DC (e.g. when the new password doesn't meet the password policy).

![image](https://user-images.githubusercontent.com/48984742/55066790-c869f780-507e-11e9-8aca-8896f27be54b.png)

  Is there a way to translate this messages for the

[2019-03-28 15:36] Tomthi commented on #260
I'm tying to do the same thing using AWS Directory Services, but I'm still getting the Error Code53. What I understand it to be the action can't be completed because it's not a secure connection. It's requiring LDAPs. You can't update your PW over a non-secure connection.

When I set the flag to StartTLS I get:
 - comment: Error initializing SSL/TLS

In AWS documentation you will need to stand up

[2019-03-28 15:39] coofercat commented on #260
Yes, I did have to get a cert server up first. If you fancy running 2 windows servers for ever and a day, then it's an easy process, but if you want to use an offline (openssl) root CA, things get a bit more funky. Either way, it's the only way to get a cert into Directory Services. Hopefully one day, Amazon will give you an "upload cert" box instead, but until then, you're stuck with the server m

[2019-03-29 09:26] mdzieciol commented on #267
any news?

[2019-03-29 18:11] geoperez commented on #267
Can you check issue #260? I think you need to change to secure connection.

[2019-04-01 15:17] KAMPFBIBER81 opened #269 "Running as a sub application"
Hi
I would like that Passcore is reachable with the URL https://mydomain.com/pwtool

I've copied all files under "c:\inetpub" and created an application (For the Default Website) with a physical path to "C:\inetpub"

Ive modified index.html with <base href="/pwtool/">

As soon as I tip the URL https://mydomain.com/pwtool, it throws me back to https://mydomain.com/

Is there a way that the URL stay

[2019-04-01 15:48] geoperez commented on #269
If you need to run Passcore as a subfolder, you need to set up a *virtual directory* at your root path.

[2019-04-02 08:04] KAMPFBIBER81 commented on #269
Ok, I will try it. many thanks

[2019-04-02 08:04] #269 closed

[2019-04-05 14:21] nigelrenton opened #270 "failed to update password While trying to retrieve the authorization groups, an error (5) occurred"
**PassCore Server**
- OS: Windows Server 2016
- Provider: Active Directory
- Settings file (without sensitive information):

**Describe the bug**
When users attempt the following error is reported:
failed to update password While trying to retrieve the authorization groups, an error (5) occurred

**To Reproduce**
Steps to reproduce the behavior:
Try to change password for any user in directory in

[2019-04-05 17:51] Tomthi commented on #267
I'm seeing similar behavior. I have enabled LdapStartTLS=true, it does recognize the username but it's not checking the PW. I can put in any password and it will return that the PW was changed successfully.  I can put in an invalid user and it does recognize that it does not exist.

There are no errors in the logs. I'm using a container with AWS Directory Services. I have enabled LDAPs and verifie

[2019-04-08 13:35] hessercan opened #272 "Can't change password of user that requires password to be changed at next login."
**PassCore Server**
- OS: Windows Server 2016
- Provider: Active Directory

Can't change password of user that requires password to be changed at next login.
This happens when an admin changes the password for a user. I use passcore so that users can fix there VPN connection when their password expires but when I do this, I get the "You are not allowed to change your password." Error. Users are ab

[2019-04-08 13:43] hessercan commented on #270
Sounds like a config error in your Settings file (appsettings.json)
Can you post it here without any sensitive information?

[2019-04-08 14:43] nigelrenton commented on #270
Thanks for looking! appsettings.json below:

{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "WebSettings": {
    "EnableHttpsRedirect": true
  },
  "AppSettings": {
    // The following options for AD Provider (remove if you don't use this Provider)
    "UseAutomaticContext": true

[2019-04-08 14:49] hessercan commented on #270
Is the IIS Server connected to your domain? I assume yes. In my config, I have nothing entered in the Ldap hostnames section and everything works fine. Only other thing I can think of is check the installation steps or delete the site and app pool and start from the top of the installation guide.

Anyone from PassCore have any feedback?

[2019-04-08 15:24] graingert opened #273 "use zxcvbn on the server to optionally enforce secure passwords"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to enforce secure passwords without adding security limiting password restrictions like "you must include a number"

**Describe the solution you'd like**
Add a config option for the minimum zxcvbn "number of guesses" allowed. All passwords must exceed this value

**Describe alternatives you've considered**
Defau

[2019-04-08 15:25] geoperez commented on #273
Hey, so your suggestion is to include the lib (https://github.com/mickford/zxcvbn-cs) and verify again the password strength?

[2019-04-08 15:28] graingert commented on #273
Yes, with a config option for min "number of guesses" which is enforced in the front-end and backend

[2019-04-08 15:28] graingert commented on #273
And maybe a sensible default

[2019-04-08 16:19] geoperez commented on #273
I like the idea! 👍

[2019-04-09 08:37] nigelrenton commented on #270
Yes, it is domain joined and have tried various iterations of appsettings.json but seem to get this error regardless.
I will keep fiddling. Have used passcore at various places previously as is an invaluable tool so hope I can get this going.
Thanks again.

[2019-04-09 09:34] sinky opened #274 "Readme download link points to old version"
The download link at step 2 in points to the old version 3.6.1.

[2019-04-09 11:50] nigelrenton commented on #270
It seems that with a re-install of .net core 2.2.3 runtime and re-installing with the powershell script we are working fine.

[2019-04-09 11:51] #270 closed

[2019-04-09 19:02] #274 closed

[2019-04-11 19:11] geoperez commented on #273
Hey @graingert did you read this? https://github.com/mickford/zxcvbn-cs/issues/4

Apparently, the .NET implementation scores differently than JS 😞

[2019-04-12 11:54] JeroenKoppenSpil commented on #272
Yep, i experience exactly the same issue. I've set the flag for "User must change password at next logon" for a couple of users. Unfortunately those users are unable to change their passwords. The message "You are not allowed to change your password". Removing this flag allowed the users to change their passwords.

[2019-04-12 15:35] geoperez commented on #272
For this scenario, there is an option named `UpdateLastPassword`. When this setting is on, PassCore will try to update the `pwdLastSet` attribute to -1. This value removes the requirement: https://docs.microsoft.com/en-us/windows/desktop/adsi/user-must-change-password-at-next-logon

Are you using this setting?

[2019-04-12 23:40] hessercan commented on #272
I have this option set as true.  And it says user is not allowed to change password

[2019-04-12 23:52] geoperez commented on #272
Is the user member of one group such as Administrators? If you check the settings, by default Passcore will exclude Administrators group.

[2019-04-13 22:05] hessercan commented on #272
No, Standard users.

[2019-04-13 22:15] hessercan commented on #272
I think I just hit a break through, and this might just be a bug. The boolean value for "UpdateLastPassword": (true/false) I think is backwards. When I set this value to false, it lets me change passwords that have the user must change password at next login checked. But when it's set to true, it gives me that error only when that option is checked. Also, version 3.6.3 forgot to change the version

[2019-04-13 23:54] geoperez commented on #272
Let me review the logic.

On Sat, Apr 13, 2019, 5:15 PM Mark David <notifications@github.com> wrote:

[2019-04-15 09:27] JeroenKoppenSpil commented on #272
Thanks you all for the work and effort!

I have, as a test, also changed the value for "UpdateLastPassword" to false. This allowed some (test) users to change their passwords. If i Querry the user in AD i can see that the password was updated, and the date and new expiry date where updated as well according to our policies. The "User needs to change password at next logon" flag was also removed (a

[2019-04-18 07:07] TanzimShaikh opened #275 "dotnet is not recognized as internal or external command, operable program or batch file"
**PassCore Server**
- OS: [**Windows** ]
- Provider: [**Active Directory**]
- Settings file (without sensitive information):

**Describe the bug**
While running the following command "**dotnet publish --configuration Release --runtime win-x64 --output 'C:\inetpub\wwwroot\PassCore363**'" it gives the error "_dotnet is not recognized as internal or external command, operable program or batch file_".

[2019-04-18 13:47] geoperez commented on #275
The `dotnet` executable is part of .NET Core. You need to download .NET Core SDK to build your own version or .NET Core Runtime to just run it. You can download both from https://dotnet.microsoft.com/download/dotnet-core/2.2

I would recommend download already compiled version of PassCore if you are not modifying the source code. And just install .NET Core Runtime & Hosting Bundle.

[2019-04-19 13:41] DirectXGuy commented on #100
using passcore363 im stuck on the loading page

[2019-04-21 06:19] TanzimShaikh commented on #275
Thank you Geoperez,
I am new to this so please bear with me and there is no solution available out there. Thanks to you for having this.
Where shall I download the compiled core from?

[2019-04-21 07:04] TanzimShaikh commented on #275
I tried using your PowerShell commands but it keeps on opening the webpage to download the donet 2.1 webserver hosting bundle. I downloaded it and installed it as per your instructions. The powershell script doesn't move beyond downloading the dotnet 2.1 webserver hosting bundle.
Can you help please.

[2019-04-21 16:19] #240 closed

[2019-04-22 14:07] geoperez commented on #275
That's odd. Let me check the script.

[2019-04-23 15:18] DirectXGuy commented on #100
I have this from the consol. I'm not a web developer and have very little experince with IIS
[Intervention] Slow network is detected. See https://www.chromestatus.com/feature/5636954674692096 for more details. Fallback font will be used while loading: http://localhost/assets/fonts/Roboto/latin.woff2
/api/password:1 Failed to load resource: the server responded with a status of 404 (Not Found)
poly

[2019-04-24 04:38] #253 closed

[2019-04-24 10:34] HessenL commented on #189
Hi, now i ran into the same issue. I downloaded the Passcore363 and installed the SDK.
I wan´t to install the Passcore on C:\passcore\(*.json+ *.dll + wwwroot\...)

My Problem is the machine can´t access to the Internet. Is it Possible to change the Source into a local?

[2019-04-24 16:37] DirectXGuy commented on #221
FYI
If the users passwords are set to "user cannot change password"
It will show "We could not find your user account"
im running version 363

[2019-04-28 11:58] arielgeffen commented on #265
Seems to work perfectly!

[2019-04-28 11:58] #265 closed

[2019-04-28 12:44] avivnexus opened #276 "HRESULT: 0x80070547 when trying to change password"
**PassCore Server**
- OS: [Windows Server 2019]
- Provider: [Active Directory]

When a user trying to change password he gets:
Failed to update password: Configuration information could not be read from the domain controller, either because the machine is unavailable, or access has been denied. (Exception from HRESULT: 0x80070547)

Anyone know how to fix this ?

[2019-04-28 18:04] #254 closed

[2019-04-29 01:10] mitchell-pd opened #277 "passcore is changing accounts that have existed for a while but refuse to find/change newly create test accounts"
**PassCore Server**
- OS: Windows Server 2019
- Provider: Active Directory
- Settings file (without sensitive information):

`{
  "Logging": {
    "IncludeScopes": true,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "WebSettings": {
    "EnableHttpsRedirect": true
  },
  "AppSettings": {
    // The following options for AD

[2019-04-29 11:11] TanzimShaikh commented on #275
Did you check the script Geoperez?

[2019-04-29 13:43] geoperez commented on #275
Not yet, I've been busy with other projects. Sorry about that.

The script will check, using WMI, if you have any installed software with the label: "Microsoft .NET Core Host - 2.2.3"

`$netCoreHost = Get-wmiobject -class win32_product | Where-Object {$_.Name -match "Microsoft .NET Core Host - 2.2.3" }`

Can you open "Add or Remove Programs" in the machine where are you installing PassCore and che

[2019-04-29 13:45] geoperez commented on #276
Did you check the network connectivity to the AD Domain server?

[2019-04-29 13:46] geoperez commented on #189
You don't need internet to use dotnet sdk. Can you paste the command and output?

[2019-04-29 14:30] DirectXGuy opened #278 "Password must meet complexity requirements"
**PassCore Server**
[Windows 10 server 16]
[Active Directory]
Settings file
{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "WebSettings": {
    "EnableHttpsRedirect": true
  },
  "AppSettings": {
    // The following options for AD Provider (remove if you don't use this Provider)

[2019-04-29 15:59] TanzimShaikh commented on #275
I didn't find any file with the exact name as you have written. However I have found that few files with a similar name has been installed as shown in the below figure:

![Errorfile](https://user-images.githubusercontent.com/49744138/56909376-d0b7b700-6ab0-11e9-82ac-92cf8da40ecf.png)

[2019-04-29 22:53] crsleeth commented on #215
@CleanHit Which .dll are you pointing to to run PassCore on Linux? I am attempting on Ubuntu 18.04 but running dotnet Unosquare.PassCore.Web.dll gets me
`Error:
  An assembly specified in the application dependencies manifest (Unosquare.PassCore.Web.deps.json) was not found:
    package: 'Microsoft.AspNetCore.Antiforgery', version: '2.2.0'
    path: 'lib/netstandard2.0/Microsoft.AspNetCore.Antifor

[2019-04-30 07:11] avivnexus commented on #276
Hi, the passcore hosted on the AD server

[2019-04-30 13:53] DirectXGuy commented on #278
UPDATE:
I set this on on another test domain in our lab with identical settings and it changes passwords just fine and without issue.... strange

[2019-04-30 13:53] #278 closed

[2019-04-30 14:55] geoperez commented on #275
You need to install .NET Core 2.2. You have 2.1.

[2019-05-01 07:09] TanzimShaikh commented on #275
I think you have to update your code:
![image](https://user-images.githubusercontent.com/49744138/57008380-60b44880-6bf8-11e9-8a5b-a170edc9ae7f.png)

<hr>

However I did installed .Net 2.2.4 and run the script but this time I received another error:
![image](https://user-images.githubusercontent.com/49744138/57008401-8b060600-6bf8-11e9-823a-247065159a2c.png)

<hr>

And the error when I run the pag

[2019-05-01 07:47] TanzimShaikh commented on #275
Ok so I installed wrong file. I installed Runtime while it should have been Hosting. I did installed the correct file and Alhamdulillaah it worked.
Thank you Geoperez for all your help.

[2019-05-01 08:25] TanzimShaikh commented on #275
Hello Geoperez,
I facing the following issue:

No matter what password I put I face the issue. I have tried using the strong password as well as the password generator which generates quite extensive passwords but still the same issue.

[2019-05-04 18:05] eastpiger commented on #258
hi @geoperez , I seems to meet the same issue here. I have set "EnableHttpsRedirect": true. But when I request the http [port 80] url, I have the web page without redirected to https.
My deployment is a clear deployment using powershell, I am not sure if it is a same problem with @RichBrew

[2019-05-06 09:06] eastpiger commented on #272
I met the same issues here. After set UpdateLastPassword to false, all things work as expected

[2019-05-10 17:47] #252 closed

[2019-05-14 15:14] robp2175 opened #279 "Complexity requirements not wokring"
**PassCore Server**
- OS: Windows
- Provider: Active Directory
- Settings file (without sensitive information):

[code]
**Describe the bug**
I am able to set a new password without meeting complexity requirements without error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
I expect that I will get a

[2019-05-14 15:17] geoperez commented on #279
Just a quick note, PassCore doesn't evaluate the complexity of the password. It will send the change password challenge to the AD server if the response is OK there is nothing that PassCore can do.

[2019-05-20 21:15] #262 closed

[2019-05-23 06:17] #251 closed

[2019-05-23 15:08] honzabfu opened #280 "An empty dialgogue box after pwd change"
**PassCore Server**
- OS: Windows Server 2016
- Provider: AD
- Settings file: default with "DefaultDomain": "domain.local" filled.

**Describe the bug**
When password is changed, an extra empty dialogue is displayed before "You have changed.." dialogue.

**To Reproduce**
Steps to reproduce the behavior:
Change password in MSIE locally or from other computer.

**Desktop (please complete the followi

[2019-05-23 17:02] geoperez commented on #280
What version of IE are you using? We are not really proving support for MSIE.

[2019-05-24 11:19] honzabfu commented on #280
We tested MSIE versions 11.2969 and 11.2972 with the same result.

[2019-06-03 16:29] #260 closed

[2019-06-11 18:50] #267 closed

[2019-06-13 06:53] Schlapper opened #281 "PassCore with AD LDS"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-06-13 09:17] geoperez commented on #281
Can you elaborate on the requirement?

[2019-06-19 04:00] putrhlim opened #282 "Build own version"
**PassCore Server**
- OS: [Windows]
- Provider: [Active Directory]
- Settings file (without sensitive information):

**Describe the bug**
Microsoft (R) Build Engine version 16.1.76+g14b0a930a7 for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Restore completed in 25.81 ms for C:\Users\muhd_halim\Desktop\Halim\chat\pw\passcore-master\src\Unosquare.PassCore.Common\Unosquare.

[2019-06-19 14:20] geoperez commented on #282
Are you filling the output parameter?

[2019-06-19 17:15] briantownjr opened #283 "Docker install, webpage just idling at "Loading""
Linux Ubuntu 18.04 server. Ran the docker build and have image up and running, when I browse to http://localhost I get the passcore landing page but it's just stuck at "Loading" and does not progress further.

Notice logs coming out of the container that there is a missing ldap bind password and information. Did not see any mention of this in README, not sure where to pass this information

[2019-06-25 20:33] #268 closed

[2019-07-03 14:09] dsavaria12 opened #284 "switch between languages for bilingual business"
I need to be able to change the language by clicking on a button like many other sites because our business has french employes.
A button by the ? icon on the upper right that redirect to the french page is what I would like to do.

For now, I have hosted 2 different pages and for the french page, I have changed the text language in the appsetting file, but it is not a great method.
I have no idea

[2019-07-03 16:00] kadosh commented on #284
Hi @dsavaria12 ,

Passcore doesn't support internationalization and we don't have any plans to add it. However, you can download the free trial of Passcorepro which already supports multiple languages.

Please feel free to give it a try. You can find it at: https://store.unosquare.com/PasscorePro. Let me know if you have any other doubts

[2019-07-03 16:03] #284 closed

[2019-07-06 08:09] #276 closed

[2019-07-07 10:13] #275 closed

[2019-07-09 16:06] geoperez commented on #284
Hello @dsavaria12 , did you get a chance to test passcore pro?

[2019-07-09 18:37] geoperez commented on #263
WIP

[2019-07-10 18:56] mvaillancourt81 opened #285 "sub directories"
I want to run passcore into a subdirectory of a site. password.domain.com/en.
I have error 500.0 with aspnetcoremodulev2 error code 0x800040005.
I created a virtualdirectory named en pointing on c:\inetpub\wwwroot\passcore\en
I modify wwwroot\index.html base path to "\en\"
Folder EN
--------logs (folder)
--------runtimes (folder)
--------wwwroot (folder)
appsettings.json
*.dll

[2019-07-10 19:05] geoperez commented on #285
What is the issue?

[2019-07-10 19:09] mvaillancourt81 commented on #285
Not able to run in subdirectory

Marc Vaillancourt
Directeur adjoint - Technologies de l’information
T 514.351.8350 · F 514.351.5227 – C 514.704.3317
[cid:image001.jpg@01D4F3B6.B9441030]<http://www.gcmconsultants.com/nous-joindre.html>

​                  [cid:image002.png@01D4F3B6.B9441030] <https://www.linkedin.com/company/gcm-consultants/>    [cid:image003.png@01D4F3B6.B9441030] <https://www.fa

[2019-07-10 19:44] mvaillancourt81 commented on #285
I configure the subfolder as an application and now I'm stuck on "Loading passcore".

[2019-07-10 19:52] #258 closed

[2019-07-11 12:13] mvaillancourt81 commented on #285
It work with your build. If I'm using our build it fails.

[2019-07-11 12:36] samtun opened #286 "Passcore does not recognize RestrictedADGroups/AllowedADGroups"
**PassCore Server**
- OS: Windows
- Provider: Active Directory
- Settings file (without sensitive information):

[code]

**Describe the bug**
Users that are not members of the defined `AllowedADGroups` can still change their password.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Passcore as shown with AD
2. Test PW-reset with users that belong to GroupA and those who do not

**E

[2019-07-11 13:06] dsavaria12 commented on #284
Yeah, I tried passcore pro but it is not exacly what we were looking for.
Passcore was easier to work with.

De : Geovanni Perez <notifications@github.com>
Envoyé : 9 juillet 2019 12:07
À : unosquare/passcore <passcore@noreply.github.com>
Cc : Savaria, Dominic <dsavaria@gcmconsultants.com>; Mention <mention@noreply.github.com>
Objet : Re: [unosquare/passcore] switch between languages for bilingual

[2019-07-11 13:15] dsavaria12 opened #287 "Could not load file or assembly 'System.Diagnostics.DiagnosticSource"
I modified the source code and now when I run Unosquare.PassCore.Web.exe in cmd I get this error:

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x8013

[2019-07-11 13:50] geoperez commented on #284
Can I reach you by email to get some insights?

[2019-07-11 13:54] dsavaria12 commented on #284
Sure what do you want to know?

De : Geovanni Perez <notifications@github.com>
Envoyé : 11 juillet 2019 09:51
À : unosquare/passcore <passcore@noreply.github.com>
Cc : Savaria, Dominic <dsavaria@gcmconsultants.com>; Mention <mention@noreply.github.com>
Objet : Re: [unosquare/passcore] switch between languages for bilingual business (#284)

This email originated from outside of the organization. Do

[2019-07-11 13:56] geoperez commented on #286
The `CheckRestrictedAdGroups` is not a valid setting, I need to update the README file.

And yes, we did a fix in the group validation. Can you check your logs and find a possible exception from source `ValidateGroups`? Sometimes AD is not returning properly the groups and then the validation is skipped.

[2019-07-11 13:57] geoperez commented on #285
Are you getting issues building? Are you just modifying the front-end?

[2019-07-11 14:17] mvaillancourt81 commented on #285
We modified Frontend and main.bundle.js to detect navigator.language.

Marc Vaillancourt
Directeur adjoint - Technologies de l’information
T 514.351.8350 · F 514.351.5227 – C 514.704.3317
[cid:image001.jpg@01D4F3B6.B9441030]<http://www.gcmconsultants.com/nous-joindre.html>

​                  [cid:image002.png@01D4F3B6.B9441030] <https://www.linkedin.com/company/gcm-consultants/>    [cid:image003.

[2019-07-11 14:17] geoperez commented on #287
Did you get any issues at the build process?

[2019-07-11 14:22] dsavaria12 commented on #287
No, I ran this dotnet publish --configuration Release --runtime win-x64 --output "<path>" in cmd as administrator and it worked fine

[2019-07-11 16:47] geoperez commented on #287
Did you change the project to run with NET 4.6.1? Because right now the project is a .NET Core App 2.2.

You can try with dotnet run.

[2019-07-11 16:47] geoperez commented on #285
Did you check Chrome Debugger console?

[2019-07-11 17:13] dsavaria12 commented on #287
Ok si when I run : \passcore-master2\src\Unosquare.PassCore.Web>dotnet run, it work. But I still get an error...
_The launch profile "(Default)" could not be applied._
_A usable launch profile could not be located._
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Users\dsavaria\AppData\Local\ASP.NET\DataProtection-Keys' as key rep

[2019-07-11 17:14] geoperez commented on #287
That is normal output, you can browse the localhost:5000?

[2019-07-11 17:15] dsavaria12 commented on #287
Yes it works

[2019-07-12 08:05] samtun commented on #286
The log shows the following fail-Message each time I change a password.
The password-change still is always successful.

[code]

[2019-07-12 08:23] samtun commented on #286
Each time a user in a restricted group changes his password the log shows the following fail and dbug messages. But the password still is changed successfully.

[code]
Changing the password of users that are in an allowed group shows only the dbug message without the fail. Looks like it is correctly evaluated but still executes the password change no matter what?

[2019-07-12 10:34] #272 closed

[2019-07-12 11:25] dsavaria12 commented on #287
My question is if it work with dotnet run, why does the site gives a 502.5 error after i dotnet publish?

[2019-07-12 21:00] geoperez commented on #286
I found the issue! Are you using a custom build, or do you need me to publish a new release?

[2019-07-15 07:25] samtun commented on #286
A new release would be nice, thank you very much.

[2019-07-15 15:07] geoperez commented on #286
Done, let me know if it is working fine.

[2019-07-16 07:25] samtun commented on #286
Working like a charm. Thanks again!

[2019-07-16 07:25] #286 closed

[2019-07-16 19:07] #277 closed

[2019-07-17 20:23] geoperez commented on #280
@honzabfu the contributor @minorumasuoka did some changes to the UI. Can you test again?

[2019-07-18 15:34] AnyxLeo opened #289 "Update angular http"
**Is your feature request related to a problem? Please describe.**
@angular/http@6.1.10 is deprecated

**Describe the solution you'd like**
Switch to  @angular/common/http

**Additional context**
https://angular.io/guide/http

[2019-07-18 21:03] geoperez commented on #289
Also, update Angular to the latest version.

[2019-07-22 18:36] #279 closed

[2019-07-31 13:54] honzabfu commented on #280
There is no second empty dialogue in MSIE in v3.6.4. Thanks!

[2019-07-31 13:56] #280 closed

[2019-08-01 16:55] geoperez opened #297 "Create POC with React"
Create a POC using React with Material UI.

[2019-08-05 23:05] Serk352 commented on #297
@geoperez
EOD Status:

I already added all things required to use react & I started adding components.

Preview:
![image](https://user-images.githubusercontent.com/25519413/62500364-a3635f00-b7ab-11e9-82e3-1d72037601e8.png)

RET: 8 hours.

[2019-08-06 22:39] Serk352 commented on #297
@geoperez
EOD status:

Continue working on this, is almost done, only need to read settings, unless I missed something.

Preview:
![passcoreReact](https://user-images.githubusercontent.com/25519413/62582111-ea675800-b870-11e9-9d4d-11f0f899ca28.PNG)

RET: 4 hours.

[2019-08-07 00:12] geoperez commented on #297
Don't forget the recaptcha and password meter

On Tue, Aug 6, 2019, 5:39 PM Ramiro Flores <notifications@github.com> wrote:

[2019-08-07 23:10] Serk352 commented on #297
@geoperez
EOD Status:

I added the Recaptcha & the PasswordMeter component, also the IChangePasswordFormInitialModel interface was refactored to match to the ChangePasswordModel.

I almost finish but still have work to do.

RET: 8 hours.

[2019-08-08 23:14] Serk352 commented on #297
@geoperez
EOD Status:
The Recaptcha & the PasswordMeter components are working. I also added the required actions to send the form data to the BE.

ToDo: Finish the footer, add the errors dialog & the snackbarMessage.

RET: 8 hours.

[2019-08-09 23:17] Serk352 commented on #297
@geoperez
EOD Status:
Added the Dialog, snackbarMessageProvider & the footer, I almost finish. I only need to connect the dialog and the snackbar with the BE response.

Preview:
![dialogAtChangePassword](https://user-images.githubusercontent.com/25519413/62813710-ea19c780-bad1-11e9-8c55-1215b695d531.PNG)

RET: 4 hours.

[2019-08-12 22:55] Serk352 commented on #297
@geoperez
EOD Status:

I finished with the changes, I only need your approval to close the issue.

Preview:
![image](https://user-images.githubusercontent.com/25519413/62904035-61499880-bd2a-11e9-9795-d76d810e0e66.png)

[2019-08-13 14:53] geoperez commented on #289
We are moving the front-end to React, this is no longer a valid issue.

[2019-08-13 14:53] #289 closed

[2019-08-13 21:45] geoperez commented on #297
I need to update the Release section!

[2019-08-13 21:46] dependabot-preview[bot] opened #316 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/src/Unosquare.PassCore.Web/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can

[2019-08-13 21:49] #316 closed

[2019-08-19 10:47] #281 closed

[2019-08-21 21:31] xxbiohazrdxx opened #320 "Recaptcha v3 is a bad choice for this type of app"
**Is your feature request related to a problem? Please describe.**
Recaptcha v3 is more reliable for large, complex websites/apps. It uses analytics on as many pages as possible to track a user's interactions with the site over a long period of time. A small app that consists of a single page and that is rarely visited by a user and only for a few seconds is not enough data for Recaptcha v3 to be

[2019-08-23 13:20] jamesxv7 opened #324 "IE11 Support - App just display an empty screen"
**PassCore Server**
- OS: Not impacted
- Provider: Not impacted
- Settings file (without sensitive information): Not impacted

**Describe the bug**
A new 4.00 deploy using React for client, when trying to open the app from IE11 the app just display an empty screen.

Console logs an SCRIPT1002: Syntax error. File: App.ba8f5c53.js, Line: 461, Column: 295.

Refer to screenshots for more details.

**T

[2019-08-25 15:10] #282 closed

[2019-08-25 18:10] #283 closed

[2019-08-26 01:47] geoperez commented on #320
@Serk352 there is a way to support both versions in the React component that you used?

[2019-08-26 01:49] geoperez commented on #324
Hi @jamesxv7, sorry but we are not supporting IE11 in this version. I need to update the documentation with the minimal browser versions.

[2019-08-27 19:20] xxbiohazrdxx opened #326 "HTTP Error 502.5 on PassCore 3.7.0"
**PassCore Server**
- OS: Windows Server 2019
- Provider: Active Directory
- Settings file (without sensitive information):
Default

**Describe the bug**
When attempting to use PassCore 3.7.0, error 502.5 is presented. I have tried with Net Core Hosting runtime 2.2.0, 2.2.3, and 2.2.7

Version 3.6.4 and 4.0.0 both work as expected.

**Additional context**
Logfile output contains the following

`Er

[2019-09-02 08:50] graingert commented on #273
@geoperez have you tried this fork instead? https://github.com/trichards57/zxcvbn-cs

[2019-09-02 08:55] graingert opened #329 "enforce edit distance when resetting passwords"
**Is your feature request related to a problem? Please describe.**
When resetting passwords users often "increment" their password eg:

hunter2 -> hunter3 -> hunter4 ...

**Describe the solution you'd like**
It should be possible to configure an edit distance score function and threshold eg levenshtein distance between previous password and new password

**Describe alternatives you've considered**

[2019-09-02 09:01] graingert opened #330 "Force server side random generation of new passwords"
**Is your feature request related to a problem? Please describe.**
Users often select insecure passwords, either passwords that are dictionary words or duplicated on other sites. Even if a password is "zxcvbn secure" it's difficult to determine if the password has been re-used or will be written down.

If the server generates the password we can at least guarantee it has not been used elsewhere be

[2019-09-03 14:29] geoperez commented on #329
I can't see the pattern, I only see

****** -> ****** -> ****** ...

😆😆😆

Just kidding, I like the idea. Let me try to check if we can work on it.

Thanks!

[2019-09-03 14:39] geoperez commented on #330
I like this idea too. My only concern is that we don't have enough time to work on this feature.

[2019-09-03 14:40] geoperez commented on #273
I didn't see that fork! It is much better. I will keep it on my ToDo List

[2019-09-03 14:41] geoperez commented on #326
I need to rebuild the package.

[2019-09-03 14:50] geoperez commented on #273
@MarcoLPR please check this requirement, and let me know if you need help to implement it.

[2019-09-03 15:29] graingert commented on #330
@geoperez out of the issues I raised zxcvbn, distance function and this one, this one is the highest priority

[2019-09-03 16:01] graingert commented on #273
might also be possible to use https://www.nuget.org/packages/WasmerSharp/ and https://github.com/shssoichiro/zxcvbn-rs/issues/27

[2019-09-03 19:21] #297 closed

[2019-09-06 12:35] LeftShoeAT2ShoesDE opened #333 "The Variables in "RestrictedADGroups" and "AllowedADGroups" in appsettings.json aren't being honored."
**PassCore Server**
- OS: Windows Server 2008R2
- Provider: Active Directory
- Settings file (without sensitive information):
[appsettings.json.txt](https://github.com/unosquare/passcore/files/3583905/appsettings.json.txt)

**Describe the bug**
The Variables in RestrictedADGroups and AllowedADGroups in
 [IIS_ROOT]\PassCore\appsettings.json
 aren't being honored. I can, without failure, change any

[2019-09-06 14:32] wtip opened #334 "PS installer fails at Get-IISAppPool"
**PassCore Server**
- OS: [Windows Server 2012 R2]
- Provider: [Active Directory]
- Settings file (without sensitive information):

**Describe the bug**
Tried running the powershell installer and it failed at
[code]
It looks like this module might not be available on 2012 r2.

[2019-09-06 14:40] geoperez commented on #334
Do you have IIS installed? The IIS Management cmdlets are available only with IIS.

[2019-09-06 14:42] geoperez commented on #333
Your settings look fine. Let me take a look in the code.

[2019-09-06 14:45] LeftShoeAT2ShoesDE commented on #333
I thank you very much

Outlook for Android herunterladen

On Fri, Sep 6, 2019 at 4:42 PM +0200, "Geovanni Perez" <notifications@github.com> wrote:

Your settings look fine. Let me take a look in the code.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-06 14:49] wtip commented on #334
yes it is installed and a default site is running.
I just ran ` Install-Module –Name IISAdministration` and now `Get-IISAppPool` works

[2019-09-06 15:07] geoperez commented on #334
So the PS installer is working for you?

[2019-09-06 15:14] #334 closed

[2019-09-06 15:14] wtip commented on #334
yes after installing the module it worked

[2019-09-13 12:14] lucafabbri365 opened #343 "Unable to change expired password"
**PassCore 4.0.0 Server**

- OS: Windows Server 2012 R2 (domain-joined)
- Provider: Active Directory
- PassCore AppPool runs with "LocalSystem"

I get the error "You need to provide the correct current password." when I try to change a password when it is expired.

Is there a way to solve it ? With reference to [Cannot Change Expired Password -- Version 3.4.2 #225](https://github.com/unosquare/pas

[2019-09-13 14:17] geoperez commented on #343
You need to set the setting 'UpdateLastPassword' to true, and provide an account with enough permissions to change the LDAP attribute in Active Directory.

Using passcore without a credential will use automatic context using the user's provided credentials and usually they don't have enough permissions to reset the expired password flag.

[2019-09-13 15:09] lucafabbri365 commented on #343
Hello @geoperez,
thank you for your e-mail.

Do you think a service user with these attribute set, could be enough for PassCore ?

- Change password
- Reset password
- Read pwdLastSet
- Write pwdLastSet
- Read accountExpires
- Write accountExpires

Thank you,
Luca

[2019-09-13 15:45] geoperez commented on #343
AccountExpires is not used by passcore, the first 4 items are correct.

[2019-09-13 15:59] lucafabbri365 commented on #343
Hello again @geoperez,
sorry but do I need to set the Service Account in AppPool or inside appsettings.json (and leave "LocalSystem" for AppPool) ?

Thank you again,
Luca

[2019-09-13 16:01] geoperez commented on #343
The Service Account in AppPool is independent. The credentials in appsettings.json are the one used to connect to AD.

[2019-09-13 18:42] #273 closed

[2019-09-13 18:42] #330 closed

[2019-09-13 19:29] geoperez commented on #330
This is ready for testing!

[2019-09-13 19:29] geoperez commented on #273
Ready to testing!

[2019-09-16 08:22] lucafabbri365 commented on #343
Hello @geoperez,
I made these changes:

1. Set AppPool to run as LocalSystem (as originally)
2. Created a domain user (Service Account) and assigned these permissions on OU containing users:

a. Change & reset Password
b. Read & write pwdLastSet

3. Changed **appsettings.json**:

"UpdateLastPassword": true
"LdapHostnames": [ "" ]
"LdapPort": 389,
"LdapUsername": "CN=PassCore,CN=Users,DC=Domain,DC=

[2019-09-16 20:03] #285 closed

[2019-09-17 13:03] #287 closed

[2019-09-17 17:49] geoperez commented on #343
This is correct because you are forcing a reset password when you add an account. So the entire scope of what can/cannot do a user is lost. You can check in the [source code](https://github.com/unosquare/passcore/blob/master/src/Unosquare.PassCore.PasswordProvider/PasswordChangeProvider.cs#L232) how the method `ChangePassword` is used and if it fails then will try `SetPassword`.

I think I need to

[2019-09-17 22:01] lucafabbri365 commented on #343
Hello @geoperez,
so using a Service Account doesn't help us to accomplish the objective.
Can PassCore be used by end-users (those that don't use a company computer) to change their password when expired or flag "must change password at next logon" is selected according to **Default Domain Policy** settings (without bypassing them) ? The same that any user can be perform from a Windows client ?

Th

[2019-09-18 15:28] Serk352 commented on #333
@LeftShoeAT2ShoesDE could you please tell me which IPasswordChangeProvider implementation are you using?

[2019-09-18 15:29] geoperez commented on #333
Are you running the Windows provider or LDAP (Linux) Provider?

[2019-09-18 16:47] LeftShoeAT2ShoesDE commented on #333
Windows 2008r2

Outlook for Android herunterladen

On Wed, Sep 18, 2019 at 5:29 PM +0200, "Geovanni Perez" <notifications@github.com> wrote:

Are you running the Windows provider or LDAP (Linux) Provider?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-22 21:28] #263 closed

[2019-09-30 12:32] LeftShoeAT2ShoesDE commented on #333
Good day Señior Perez, any updates on this issue?

I would greatly appreciate an update.

[2019-09-30 12:52] geoperez commented on #333
Hi, we did some testing on our end, buy @Serk352 was not able to reproduce.  I'm going to give a try again by myself.

[2019-09-30 13:01] geoperez commented on #333
Quick question, can you post the log file? Sometimes the AD is not returning properly the user's groups and this might bypass the groups check.

[2019-10-01 07:18] LeftShoeAT2ShoesDE commented on #333
Which log do you need and where may I locate it?

[2019-10-01 14:55] geoperez commented on #333
You may need to activate, check step 9 https://github.com/unosquare/passcore#installation-on-iis

[2019-10-04 10:28] nikinname opened #363 "Error on building docker image"
**PassCore Server**
- OS: Docker on Linux
- Docker version 19.03.1, build 74b1e89

**Describe the bug**
Error on
docker build --rm -t passcore .

After correct download of dotnet I obtain this output error

Unosquare.PassCore.Web -> /app/src/Unosquare.PassCore.Web/bin/Release/netcoreapp2.2/Unosquare.PassCore.Web.dll
  Performing run Parcel build...

  sh: parcel: not found
  npm ERR! file sh
  npm

[2019-10-04 19:49] geoperez commented on #363
The npm package is not installed. Let me review the docker file.

[2019-10-06 16:49] geoperez commented on #333
Did you get the logs?

[2019-10-06 16:49] #324 closed

[2019-10-06 16:50] geoperez commented on #320
@Serk352 can you give it a chance to this issue this week?

[2019-10-06 17:05] Serk352 commented on #320
@geoperez  sure, I will.

[2019-10-07 11:09] LeftShoeAT2ShoesDE commented on #333
HI sorry for the delay: here is the relevant part of the log
[code]
is there a setting to route the POST-Request over HTTPS?

![image](https://user-images.githubusercontent.com/30696507/66307056-a857a280-e903-11e9-8561-ea24e93bf00a.png)

[2019-10-08 07:47] nikinname commented on #363
Thank you, I can try to fix it.
My problem is that I found that npm must be installed as non root user and the dockerfile assumes that is run by root

[2019-10-11 07:02] lucafabbri365 commented on #343
Hello,
please, can you confirm (or not): currently, there's no way to let end-user reset its password when expired or flag "must change password at next logon" is selected without using a Service Account with change/reset password and r/w pwdLastSet permissions?

Thank you,
Luca

[2019-10-11 07:23] lucafabbri365 opened #371 "PassCore Debug"
Hello,
I'd like to look inside PassCore code, just for my personal knowledge, but I encountered some problems while debugging it. I'm not programming expertise, but I'm an IT, so if you can give me just a few recommendations it would be great.
Please, tell me if it is the wrong place to ask.

**Describe the bug**
Basically I have to problems while debugging PassCore code:

1. Warning "_The breakpo

[2019-10-12 02:44] geoperez commented on #343
Sorry for the delay, let me clarify the issue.

- Without a Service Account, a user is NOT able to set pwdLastSet value. So they may fail to reset an expired password.
- WIth a Service Account, a user MIGHT be able to change a password if the Service Account has the permissions to reset the pwdLastSet value.

[2019-10-12 02:52] geoperez commented on #371
Hi,

Let me explain each issue:

1 - If you are not able to set a breakpoint you may need to check if you are running in Debug. If it is not the case, you can check at Google for similar issues with VS (https://developercommunity.visualstudio.com/content/problem/97445/vs2017-the-breakpoint-will-not-currently-be-hit-no.html)
2 - Passcore has three possible builds, based on build settings. Each one

[2019-10-12 20:52] lucafabbri365 commented on #371
Hello @geoperez,
thank you very much for clear explanation.
It worked: I missed the #if DEBUG part.

Thank you again guy.
Luca

[2019-10-12 20:58] lucafabbri365 commented on #343
Hello @geoperez,
now I have a clear situation, thank you.

Just a question: isn't there the possibility to have PassCore working like a "Windows client"; where the end user has the possibility to change its password when expired or flag "must change password at next logon" selected but being subjected by Default Domain Policy ?

Thank you again,
Luca

[2019-10-14 07:14] #371 closed

[2019-10-14 07:15] lucafabbri365 commented on #371
Hello @geoperez,
thank you very much for clear explanation.
It worked: I missed the #if DEBUG part.

Thank you again guy.
Luca

[2019-10-14 15:35] geoperez commented on #343
Thanks for the bug hunting. I need to review it.

[2019-10-14 19:15] geoperez commented on #343
I need to publish a new version!

[2019-10-15 01:37] geoperez commented on #343
A new PR was merged. Tomorrow will be released the version.

[2019-10-16 07:46] lucafabbri365 opened #379 "Multiple domains support"
Hello,
I'd like to know if PassCore supports multiple domains (=without configuring multiple/separate websites with different _appsettings.json_).
I read some posts here (#223, #219, #30 or #188) and looking inside the code I can suppose it isn't possible, at least using AD Provider; what about using LDAP Provider?
If not supported, then...

Assuming this AD environment:

- 1 forest and tree root:

[2019-10-16 15:31] geoperez commented on #379
Hi Luca,

We've been researching this issue, but there are no plans to include right now. The only option is to have an instance for each domain.

[2019-10-16 16:34] MouettE-SC opened #381 "HTTP Error 500.30 - ANCM In-Process Start Failure with 4.2.0"
**PassCore Server**
- OS: Windows Server 2016
- Provider: Active Directory
- Settings file (without sensitive information): default

**Describe the bug**
We have a working 4.1.1 environment. When switching to version 4.2.0 by changing the physical path of the passcore site in IIS, we hit a HTTP Error 500.30 - ANCM In-Process Start Failure with the following system event :

[code]

We've tried rest

[2019-10-17 16:03] lucafabbri365 commented on #379
Hello @geoperez,
what do you mean with "_instance for each domain_" ? Should PassCore be installed in a server joined to the same domain where are defined users that will use it (if I intend to use AD Provider and Automatic Context) ? Or it doesn't matter ?
I have one server joined to parent domain and as PassCore websites as our domains (1 for parent domain and another for child domain); each web

[2019-10-17 16:07] geoperez commented on #379
For instance, I mean a Passcore WebApp running with settings for one domain. So multiple webapps running for multiple domains.

Let me take a deep look at your analysis and I come back to you later. Thanks btw for your help to improve this tool.

[2019-10-17 16:09] lucafabbri365 commented on #379
Hello @geoperez,
I like to help you because, to be honest, I need it (because free :-)) and I really believe in this tool.

Thank you,
Luca

[2019-10-17 17:41] geoperez commented on #381
Try to download again the package. Thanks for the heads up!

[2019-10-17 18:02] #381 closed

[2019-10-17 19:18] geoperez commented on #320
@xxbiohazrdxx can you verify the new implementation?

[2019-10-17 20:25] #343 closed

[2019-10-17 20:25] lucafabbri365 commented on #343
Hello,
this issue has been resolved.

Thank you,
Luca

[2019-10-21 10:14] jameel-boonzaaier commented on #286
Hi Guys

I need some help.

When i change IdTypeForUser to DN i get a error we can not find user account.

The reason why i want to change to DN is AD sync tool looking at AD uses the DN name to sync users.

Is there anyway to get DN to work on passcore.

Please help

[2019-10-21 10:24] jameelboonzaaier opened #385 "Changing IdTypeForUser"
**PassCore Server**
- OS: [Windows ]
- Provider: [Active Directory]
- Settings file (without sensitive information):

**Describe the bug**
Im trying to change the IdTypeForUser to DN but getting a error cannot find users. Reason for the change we use gmail in our organisation and the sync tool for gmail that runs on AD looks at DN when changes is made for a user.

Is there anyway i can get help ch

[2019-10-22 19:00] geoperez commented on #379
So for the first part, you suggest using the last found domain (except "Builtin") And avoid the unnecessary check of default domain?

@Serk352  can you check this?

[2019-10-22 21:30] lucafabbri365 commented on #379
Hello @geoperez,
regarding the first part (DOMAIN PASSWORD INFORMATION): I supposed the _DefaultDomain_ parameter inside **appsettings.json** could covers those cases where PassCore is installed in a server joined to one domain (example _domain.local_), but intended to be used for another domain (example _child.domain.local_).

Looking at the code, the function who retrieves domain password inform

[2019-10-23 10:51] TaamirH opened #386 "Expand-Archive"
**PassCore Server**
- OS: Windows
- Provider: Active Directory
- Settings file (without sensitive information):

**Describe the bug**
I tried to run the script , and thats what happend:
**PS C:\Windows\system32> Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/unosquare/passcore/master/Installer.ps1'))
Instal

[2019-10-23 15:54] geoperez commented on #379
I think this bad design is because of how our AD is working.

We have our domain 'unosquare.com' and the hostname is 'ad.unosquare.com'. So our logic was, the hostname SHOULD contain the domain in the very end.

I'll review this code and fixed it.

[2019-10-23 22:32] Techcadia commented on #363
Hey I am the one that merged the Dockerfile. Sorry about not seeing this earlier. I assume we can moved up to node 10 without any issues.

Also are we still on 2.1 or 3.0 for builds @geoperez. I can create a PR with the updated Dockerfile this week.

[2019-10-23 22:57] lucafabbri365 commented on #379
Hello @geoperez,
I try to explain with this example:

- PassCore server's hostname (joined to _domain.local_): **SERVER01** (It is my machine's name from where I'm debugging the code)
- **DefaultDomain** in appsettings.json = _child.domain.local_

**PROCESS**

1. `server.EnumerateDomains()` returns: **Builtin** and **SERVER01** (not _domain.local_)
2. When `domain` = **Builtin**, it continues with

[2019-10-24 15:13] geoperez commented on #379
Ok, I removed the check. I double-checked the response of `server.EnumerateDomains()` you are right, it returns the hostname.

[2019-10-24 15:55] geoperez commented on #363
Welcome back @Techcadia, we upgraded to ASP.NET Core 3.0.

[2019-10-24 20:51] lucafabbri365 commented on #379
Hello @geoperez,
I noticed you removed the check, however it isn't enough: domain password information should be retrieved from domain specified in **DefaultDomain** parameter, if any; if not, then treat it like now.

What about ?

[2019-10-24 20:55] geoperez commented on #379
Yeah, I need to figure out how to use SAM to request this information for a particular domain.

I was checking something like this: https://stackoverflow.com/questions/7726093/are-there-better-easier-ways-to-get-a-specific-domains-sid

So there will be two steps, check the DefaultDomain and if exists and we can query the SID, request the info. Otherwise, get info from the first domain from Enumera

[2019-10-24 21:04] lucafabbri365 commented on #379
Yes, that's sounds good to me. At the same time, please, take care of the **PrincipalContext** where to search the UPN (while resetting password): it should "point" to right domain too.

Thank you very much,
Luca

[2019-10-24 21:06] geoperez commented on #379
Well, that is another issue. To retrieve a PrincipalContext from a child domain, you may need to set a Global Catalog. The DefaultDomain is not enough.

[2019-10-24 21:20] lucafabbri365 commented on #379
Mmm, not all domain(s) info and passwords are replicated in GC: then, will all PassCore check work (example: `ValidateGroups(...)`, `ValidateUserCredentials(...)`, etc.) ?

What about using **LdapHostnames** parameter in appsettings.json, if any, to force the DC for PrincipalContext ? Something like:

`return new PrincipalContext(ContextType.Domain, LdapHostnames[i]);`

Bye,
Luca

[2019-10-25 09:34] jameel-boonzaaier commented on #385
Hi is there any response to the issue i raised ?

[2019-10-25 14:03] Quark-Fusion opened #391 "Username from url not honored"
**PassCore Server**
- OS: Windows
- Provider: Active Directory
- Settings file (without sensitive information): default

**Describe the bug**
Username field is empty when passed in url

[2019-10-25 17:32] geoperez commented on #385
Not yet, we've been kinda busy.

[2019-10-25 17:33] geoperez commented on #386
What version of PowerShell are you using?

[2019-10-25 18:58] geoperez commented on #379
My idea to use PrincipalContext and then SAM Server is failing.

Probably, I will change the SAM Server code to query directly to the Password Object in AD, like this: https://stackoverflow.com/a/38491829

[2019-10-25 22:52] lucafabbri365 commented on #379
Hello @geoperez,
it could be a good idea. So in that case how appsettings.json will be managed (just for my curiosity) ?
Will you refer to _DefaultDomain_ and _LdapHostnames_ parameters ? If they weren't specified, then you will consider current PassCore server's domain ?

Bye,
Luca

[2019-10-26 12:43] TaamirH commented on #386
Hey . im using JS

‫בתאריך יום ו׳, 25 באוק׳ 2019 ב-20:33 מאת ‪Geovanni Perez‬‏ <‪
notifications@github.com‬‏>:‬

[2019-10-28 16:45] JonathonReinhart opened #392 "Fails to build Docker image"
I'm trying to build the Docker image from `master` (80f7a24550e2633473cb3f0bc46916f6c72dcb32)  or the latest released version (`v4.2.0`) following [these directions](https://unosquare.github.io/passcore/#docker) without success.

Here's the abbreviated output of `docker build --rm -t passcore .`:
[code]

[2019-10-28 16:46] JonathonReinhart commented on #363
I just opened issue #392 which may be related to this.

[2019-10-28 16:47] geoperez commented on #363
Your ticket is related to the version of .NET Core. We need to upgrade the docker file to use version 3.

[2019-10-28 16:50] JonathonReinhart commented on #392
When I back down to `4.1.0`, the build gets much further, but then fails with the same error message as reported in #363.

Thus, it appears that this is a breakage due to the .NET 3.0 update. I see `2.2` all over in the `Dockerfile` so I'm assuming that was missed.

[2019-10-28 18:12] Techcadia commented on #392
I am working through build issues now. Will have a PR today

[2019-10-28 18:54] Techcadia commented on #392
Resolved with https://github.com/unosquare/passcore/pull/393

[2019-10-28 18:54] Techcadia commented on #363
Resolved with https://github.com/unosquare/passcore/pull/393

[2019-10-28 20:50] JonathonReinhart opened #394 "LdapIgnoreTlsErrors and LdapIgnoreTlsValidation warnings are backwards"
As of version 4.2.1, [these warnings](https://github.com/unosquare/passcore/blob/4.2.1/src/Zyborg.PassCore.PasswordProvider.LDAP/LdapPasswordChangeProvider.cs#L287-L290) appear to be backwards:

[code]

As far as I can tell, these options default to `false`, and the error message is printed even though I did not set the option:
[code]

I think the solution is to remove the `!` on both conditionals

[2019-10-28 22:24] JonathonReinhart commented on #394
Tangentially related to #263

[2019-10-29 16:43] Techcadia commented on #392
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.0

All environmental variables are overriding appsettings.json
https://github.com/unosquare/passcore/blob/master/src/Unosquare.PassCore.Web/appsettings.json

Double underscore is used to delimits levels.

[code]
Here is my working Docker command.

[2019-10-29 20:38] nikinname commented on #392
Great! Thank you.

[2019-10-29 20:57] geoperez commented on #326
Do you test more recent versions?

[2019-10-29 20:58] xxbiohazrdxx commented on #326
I have not yet had an opportunity to test as my schedule has been extremely tight. I will try the change this week or next.

Sent from my iPhone

[2019-10-29 21:16] nikinname opened #397 "found multiple with same username"
- OS: Docker Linux
- Provider: LDAP
- Settings file:

docker run  \
-e WebSettings__EnableHttpsRedirect='false'  \
-e AppSettings__UseAutomaticContext='false' \
-e AppSettings__LdapSearchBase='DC=xxx,DC=xxx' \
-e AppSettings__LdapHostnames__0='mypdc.xxx.xxx' \
-e AppSettings__DefaultDomain='xxx.xxx' \
-e AppSettings__IdTypeForUser='SAM' \
-e AppSettings__LdapPort='389' \
-e AppSettings__LdapUserna

[2019-10-31 11:50] dragoangel commented on #320
@geoperez getting Could not verify you are not a robot after update from 3 to 4 version all time.

[2019-10-31 12:09] dragoangel commented on #391
Same @here

[2019-10-31 15:23] fdelcorso commented on #60
Hi, I had the same issue on IIS 10 and reCAPTCHA v2 , the message was: could not verify you are not a robot. I put the right "Recaptcha": {
      "SiteKey": "...",
      "PrivateKey": ".."

[2019-11-01 13:25] jameel-boonzaaier commented on #385
Hi Guys

Really need some help with this

[2019-11-01 15:42] geoperez commented on #385
Can you post a log file?

[2019-11-02 06:41] itsKV opened #399 "Non IIS support"
Does passcore support non IIS servers?

I have running XAMPP(php+asp+perl+OpenSSL) on AD server (Windows server 2016). How can I deploy passcore on this server on which I don't want to install IIS at all.?

[2019-11-02 13:54] geoperez commented on #399
Passcore uses ASP.NET Core. If you can find an Apache module for running .NET Core, you can give it a try.

[2019-11-02 13:56] geoperez commented on #394
Today I'm going to verify your suggestion. Thanks!

[2019-11-02 15:27] graingert commented on #329
Bunp

[2019-11-02 17:24] geoperez commented on #329
Do you know a C# implementation?

[2019-11-02 17:42] geoperez commented on #394
@JonathonReinhart can you take a look in my last commit?

[2019-11-02 17:44] geoperez commented on #397
Can you retest against the master branch?

[2019-11-02 17:45] geoperez commented on #333
Status?

[2019-11-02 17:47] geoperez commented on #379
Yeah, the idea is to keep the same parameters for the additional domain. Anyway, I've been kinda busy, so I might take a while to start working on this. If you get a chance, don't hesitate to start a branch.

[2019-11-02 17:48] geoperez commented on #386
JS? This script is for PowerShell 5.1 or better. You can check the MSDN documentation here: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.archive/expand-archive?view=powershell-5.1

[2019-11-02 17:49] geoperez commented on #392
@JonathonReinhart can I close this issue?

[2019-11-02 17:54] geoperez commented on #391
Hello,

You can check the master branch for the fix, or wait for the next release probably next week.

[2019-11-03 10:45] nikinname commented on #392
Yes thank you

[2019-11-03 10:54] nikinname commented on #397
I updated to the master branch

Fast-forward
 .github/ISSUE_TEMPLATE/Bug_report.md               |   1 +
 .../Unosquare.PassCore.Common.csproj               |   2 +-
 .../Unosquare.PassCore.PasswordProvider.csproj     |   2 +-
 .../ClientApp/Components/ChangePasswordForm.tsx    |   2 +-
 .../ClientApp/package-lock.json                    | 104 ++++++++++----------
 src/Unosquare.PassCore.Web/Clien

[2019-11-03 13:46] geoperez commented on #397
Can you post the log?

On Sun, Nov 3, 2019, 4:54 AM nikinname <notifications@github.com> wrote:

[2019-11-03 15:01] #392 closed

[2019-11-03 15:27] JonathonReinhart commented on #394
I haven't tried it, but that seems to make more sense. Thanks.

[2019-11-03 15:27] #394 closed

[2019-11-04 10:30] jameel-boonzaaier commented on #385
Hi

Can you please tell me what request is being send to the DC when the password request is put through via the passcore tool

[2019-11-04 16:55] geoperez commented on #385
Passcore will use ChangePassword (https://github.com/unosquare/passcore/blob/master/src/Unosquare.PassCore.PasswordProvider/PasswordChangeProvider.cs#L228)

If this fails, I might try SetPassword (https://github.com/unosquare/passcore/blob/master/src/Unosquare.PassCore.PasswordProvider/PasswordChangeProvider.cs#L240).

More information:
https://docs.microsoft.com/en-us/windows/win32/api/iads/nf-ia

[2019-11-04 19:33] nikinname commented on #397
Yes,
I repeat the command I used to run docker:

docker run  -e WebSettings__EnableHttpsRedirect='false'  -e AppSettings__UseAutomaticContext='false' -e AppSettings__LdapSearchBase='DC=sit,DC=local' -e AppSettings__LdapHostnames__0='mypdcfqdn' -e AppSettings__DefaultDomain='MYDOMAIN' -e AppSettings__IdTypeForUser='SAM' -e AppSettings__LdapPort='389' -e AppSettings__LdapUsername='DN of an admin use

[2019-11-04 19:50] 420kruk opened #400 "'Novell.Directory.Ldap.Logger' threw an exception."
**PassCore Server**
- OS: Alpine Linux 3.10
- Docker version: 18.09.8-ce
- Provider: LDAP
- Passcore version: 4.2.1
- Settings file (without sensitive information):
docker run \
 -e WebSettings__EnableHttpsRedirect='false' \
 -e AppSettings__UseAutomaticContext='false' \
 -e AppSettings__LdapSearchBase='DC=company,DC=corp' \
 -e AppSettings__LdapHostnames__0='server.company.corp' \
 -e AppSettings

[2019-11-04 19:55] #363 closed

[2019-11-04 21:49] JC-CAN opened #401 "Passcore not working with Internet Explorer in Windows 10 client computers. Shows blank screen."
**PassCore Server**
- OS: [Windows ]
- Provider: [Active Directory]
- Settings file (without sensitive information):
- Log file (without sensitive information):

**Describe the bug**

I installed passcore in a Windows 2016 server.

Our clients computers are setup with Windows 10.

Passcore works well with Google Chrome and Mozilla Firefox from the client computers.

**The problem is that with Inte

[2019-11-05 07:18] LeftShoeAT2ShoesDE commented on #333
Sorry, I  unfortunately had more pressing issues to attend. I'll look into updating this by Friday and will report my findings when I do.

[2019-11-05 09:39] jameel-boonzaaier commented on #385
I think i found my problem but i am now trying to find this file called PasswordController.cs but i dont manage to see this file in the passcore folder

[2019-11-05 12:06] technicallife opened #402 "AllowedAD Groups not working"
**PassCore Server**
- OS: Windows Server 2016 Core
- Provider: Active Directory
- Settings file (without sensitive information):

{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "WebSettings": {
    "EnableHttpsRedirect": true
  },
  "AppSettings": {
    // The following options fo

[2019-11-05 15:38] geoperez commented on #385
It's because the source code is compiled into an assembly (a DLL file). What do you need to edit?

[2019-11-05 15:39] geoperez commented on #402
Can you post the log file, please?

[2019-11-05 15:40] geoperez commented on #401
We are not supporting IE.

[2019-11-06 05:27] technicallife commented on #402
Oh i am sorry!
searched the logs and found this:

System.DirectoryServices.AccountManagement.PrincipalOperationException: While trying to retrieve the authorization groups, an error (5) occurred.

   at System.DirectoryServices.AccountManagement.AuthZSet..ctor(Byte[] userSid, NetCred credentials, ContextOptions contextOptions, String flatUserAuthority, StoreCtx userStoreCtx, Object userCtxBase)

[2019-11-06 07:31] jameel-boonzaaier commented on #385
Username instead of email #103

[2019-11-06 16:28] JC-CAN commented on #401
Thanks Geovanni.

Do you mind me asking why is not supported with IE ?

Any plans to support IE in the future ?

This application is solving an important issue for us in my organization.

Thanks for your help.

[2019-11-06 18:03] JC-CAN commented on #401
Thanks Geovanni.

[2019-11-06 18:03] #401 closed

[2019-11-06 23:25] Serk352 commented on #320
Hi @dragoangel, there's a new release that fixed this issue, please try it.

[2019-11-07 21:48] messiah109501 commented on #320
I had same issue as dragoangel with the captcha v2 verification. Just updated to 4.2.2 and issue remains.

[2019-11-07 21:55] geoperez commented on #385
Can you explain?

[2019-11-07 21:56] geoperez commented on #402
Since you are not using `UseAutomaticContext`, maybe the credentials that you are using are not allowed to read the groups of the user.

[2019-11-07 21:57] geoperez commented on #402
I will investigate this issue: https://stackoverflow.com/questions/5814561/while-trying-to-retrieve-the-authorization-groups-an-error-5-occurred

[2019-11-08 06:56] jameel-boonzaaier commented on #385
I want to use a username when changing a password instead of email address.

[2019-11-08 09:10] codeusuk opened #408 "Password change success message but fails to actually change"
**PassCore Server**
- OS: [Server 2016]
- Provider: [Active Directory]

**Describe the bug**
We're testing the trial of the pro version but when a user changes their password they recieve a success message but their password is unchanged.  The user does have permission to change their password and performing a Set_ADAccountPassword from the command line works fine.  User can also edit other detail

[2019-11-08 10:06] technicallife commented on #402
my service user is allowed to read groups :-(

thanks for the investigation

[2019-11-08 14:45] xbalkanx opened #409 "Passcore creates local user account"
Not sure if this has been brought up. Using passcore at my high school for students to change their default passwords. I couldn't figure out why the hard drive was filling up on my servers until I looked in the users folder. Every user that has used passcore, a local account was created. Standard ldap setup on server 2008r2 and server 2016. Version 3.2 and 4.22 respectively. Is there a way to make

[2019-11-08 14:54] geoperez commented on #409
Are you using `AutomaticContext`?

[2019-11-08 15:01] xbalkanx commented on #409
Yes, I have it set on True. Is that setting creating my situation? Here's my settings. Please let me know what I should change.

Thanks

Meko Stanosevic

Director of Technology

Union Grove High School

{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "WebSettings": {
    "EnableHtt

[2019-11-08 15:03] geoperez commented on #409
Yes, it's a known issue #147. When passcore uses the user's credentials to validate Windows create a local profile folder.

You can avoid this using a system account and disabling the Automatic Context.

[2019-11-08 15:06] geoperez commented on #385
If you don't want to use the UPN (email alike format) you can change the setting `IdTypeForUser` to `SamAccountName`.

[2019-11-08 15:10] xbalkanx commented on #409
Thanks, I will give that a try.

________________________________
From: Geovanni Perez <notifications@github.com>
Sent: Friday, November 8, 2019 9:03 AM
To: unosquare/passcore
Cc: Meko Stanosevic; Author
Subject: Re: [unosquare/passcore] Passcore creates local user account (#409)

Yes, it's a known issue #147<https://github.com/unosquare/passcore/issues/147>. When passcore uses the user's credenti

[2019-11-08 15:50] Serk352 commented on #408
Hi @codeusuk, we manage separately passcore and passcorepro, could you use the bug report form that is inside the admin app to report this issue to give you better attention. When you submit this form, our dedicated support team will contact you ASAP.

[2019-11-11 01:44] JonathonReinhart commented on #400
I, too, noticed this exception and reported this issue to the upstream library: https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard/issues/100

It was just fixed a few hours ago, and AFAICT the fix should be present in the [`3.0.0-beta6` version](https://www.nuget.org/packages/Novell.Directory.Ldap.NETStandard/3.0.0-beta6).

[2019-11-11 11:15] nikinname commented on #397
could anyone help?

[2019-11-11 13:04] dragoangel commented on #320
@Serk352 ok will try 4.2.2

[2019-11-11 14:46] jameel-boonzaaier commented on #385
Hi

When i change it to SAM i still get the below when i enter the username eg:
name.domain

<img width="574" alt="Screenshot 2019-11-11 at 16 44 31" src="https://user-images.githubusercontent.com/19990542/68595798-d8fe9f00-04a2-11ea-9ccf-492ba0407e95.png">
![Uploading Screenshot 2019-11-11 at 16.44.40.png…]()

[2019-11-11 14:47] jameel-boonzaaier commented on #385
![Screenshot 2019-11-11 at 16 44 40](https://user-images.githubusercontent.com/19990542/68595838-e9af1500-04a2-11ea-8601-5881603f1a95.png)

[2019-11-11 17:00] geoperez commented on #400
The new version of Novell client is up, let me review the code and upgrade.

[2019-11-11 18:22] geoperez commented on #385
Try to change the setting `UseEmail` to false please.

[2019-11-11 21:22] geoperez commented on #400
I updated the nuget, can you test against master branch?

[2019-11-11 22:25] 420kruk commented on #400
Application won't load
![Capture](https://user-images.githubusercontent.com/11447792/68625870-70331900-04da-11ea-962c-53a35664e291.PNG)

[2019-11-12 06:57] jameel-boonzaaier commented on #385
It works with that but now the password change successfully however it does not change the email password as email and ad uses the same password.

We use gmail for emails.

[2019-11-12 07:37] jameel-boonzaaier commented on #385
Gmail uses a tool called Gsuite password sync that runs on every dc to look for password chagnes and this is what is looks for.

![Screenshot 2019-11-12 at 09 36 20](https://user-images.githubusercontent.com/19990542/68651412-06ddf500-0530-11ea-863f-476d6d815b32.png)

[2019-11-12 07:39] jameel-boonzaaier commented on #385
Gmail has a password sync tool called G suite password sync that runs on every DC and this is how its confugured

![Screenshot 2019-11-12 at 09 36 20](https://user-images.githubusercontent.com/19990542/68651560-515f7180-0530-11ea-970f-dd7025c6d9e8.png)

[2019-11-12 10:21] technicallife commented on #402
Any news out there?

[2019-11-12 10:36] dragoangel commented on #320
@Serk352 build from 4.2.2 GET https://change-pwd.ua.pnnsoft.com/api/password net::ERR_ABORTED 500 and page loading endless

[2019-11-12 23:32] Techcadia commented on #397
[code]

[2019-11-13 11:06] nikinname commented on #397
Of course there is only one! I have checked

[code]
The error is somewere else

[2019-11-13 16:41] Techcadia commented on #397
@nikinname Can you run the same command with the current master branch and provide logs.

Thanks

[2019-11-13 16:56] Techcadia commented on #400
@420kruk Can you give master another try. The MR above should now allow you to see the actual error.

[2019-11-13 16:58] #391 closed

[2019-11-13 21:13] penguinthingie opened #415 "Allow for Passwords to be generated as suggestions"
**Is your feature request related to a problem? Please describe.**
Not a problem, more requesting for a functionality that already exists but would like to see if its modular-able to a specific use.

*Note:* If you want to request a feature of passcorepro, please use the proper bug report form at https://store.unosquare.com/passcorepro

**Describe the solution you'd like**
Would it be possible to

[2019-11-15 17:29] avoit commented on #125
Hi All,

Been through this post several times. I am running IIS 8.5 followed the instructions. I am running into the below situations

1) Pointing the physical path to C:\inetpub\PassCore420 and I am getting error 500

2) I then pointed the physical path to C:\inetpub\PassCore420\wwwroot and the page is stuck on Loading Passcore

3) From opening Chrome debug and running the network query, I see th

[2019-11-15 18:04] avoit opened #419 "Webpage stuck on Loading PassCore"
Hi All,

Been through this post several times. I am running IIS 8.5 followed the instructions. I am running into the below situations

Pointing the physical path to C:\inetpub\PassCore420 and I am getting error 500

I then pointed the physical path to C:\inetpub\PassCore420\wwwroot and the page is stuck on Loading Passcode

From opening Chrome debug and running the network query, I see that a file

[2019-11-17 01:10] avoit commented on #320
Hi All,

Everything is working except the Recaptcha part. I keep getting could not verify you are not a robot error. Anything specific I need to check? I used V2 & V3 with the correct site and secret keys.

[2019-11-17 02:40] #419 closed

[2019-11-17 15:47] geoperez commented on #320
@Serk352 can you take a look in the Recaptcha issue?

[2019-11-19 08:08] nikinname commented on #397
Application started. Press Ctrl+C to shut down.
info: Microsoft.AspNetCore.Hosting.Diagnostics[1]
      Request starting HTTP/1.1 GET http://dockerdmz-test.sit.local/
info: Microsoft.AspNetCore.StaticFiles.StaticFileMiddleware[6]
      The file /index.html was not modified
info: Microsoft.AspNetCore.Hosting.Diagnostics[2]
      Request finished in 27.201500000000003ms 304 text/html
info: Microsoft

[2019-11-25 20:27] 420kruk commented on #400
![Capture](https://user-images.githubusercontent.com/11447792/69575339-54e00780-0fca-11ea-94b3-3e09f22ab8f4.PNG)

[2019-11-26 11:57] nikinname commented on #397
I am still bangin my head please let me know if there something wrong or missing in my config
in the ezample below I obviously changed domain name and passwords the assumption is:
domain = my.domain
I use samAccountName to login

 docker run  \
 -e WebSettings__EnableHttpsRedirect='false'  \
 -e AppSettings__LdapSearchBase='DC=my,DC=domain' \
 -e AppSettings__DefaultDomain='my.domain' \
 -e AppSet

[2019-12-05 02:49] ytianxia6 opened #440 "pending when docker build"
**PassCore Server**
- OS: [ Linux ]
- Provider: [Active Directory ]
- Settings file (without sensitive information):
- Log file (without sensitive information):

**Describe the bug**
docker build pending
[code]

[2019-12-05 02:59] ytianxia6 commented on #440
[code]
after long time git the error

[2019-12-10 14:05] penguinthingie commented on #415
Hello.. any idea if this is possible or not in the pictures?

[2019-12-17 19:48] geoperez opened #450 "Fix npm build"
The `GlobalSnackbar` needs to be upgraded:

[code]

[2019-12-18 23:28] #450 closed

[2020-01-01 18:44] graingert commented on #329
Bump

[2020-01-04 22:27] #326 closed

[2020-01-08 14:44] #399 closed

[2020-01-08 18:44] #379 closed

[2020-01-08 18:44] #386 closed

[2020-01-08 20:19] Adam-North opened #475 "Words are overlapping and everything is misaligned."
picture is self explanatory.
![image](https://user-images.githubusercontent.com/16639794/72012604-d231a580-3221-11ea-9ab3-aab733facabb.png)

[2020-01-08 22:02] Adam-North commented on #475
Happens in chrome but not edge by the way. this is a new install.

[2020-01-09 23:34] ManuSanRam commented on #475
@Adam-North
I'm currently checking this issue, however there doesn't seem to be any issue:
**Chrome**
![image](https://user-images.githubusercontent.com/28661932/72113429-0b434600-3306-11ea-999f-9727c5f75724.png)
Chrome version: 79.0.3945.117

**Edge**
![image](https://user-images.githubusercontent.com/28661932/72113466-2e6df580-3306-11ea-86b6-6f14535b1b06.png)
Edge version: 44.18362.449.0

[2020-01-11 08:17] #333 closed

[2020-01-11 18:18] geoperez commented on #402
This is an open bug yet, @Serk352 can you take a look?

[2020-01-14 03:15] geoperez opened #478 "E2E Testing using Selenium"
Complete the following e2e tests:

- [ ] Happy path, using a valid username.
- [ ] Generic error message, using error...

Please check all the cases in the file `src\Unosquare.PassCore.Web\Helpers\DebugPasswordChangeProvider.cs`

[2020-01-14 17:04] #408 closed

[2020-01-17 16:31] #320 closed

[2020-01-17 18:58] Serk352 commented on #415
@penguinthingie sorry for the long waiting, we have been busy, we will work on this as soon as possible, let you know when it is finished.

[2020-01-19 00:19] #385 closed

[2020-01-20 10:46] jagbarcelo opened #487 "reCaptcha v2 & "Could not verify you are not a robot" msg"
**PassCore Server 4.2.2**
- OS: Windows
- Provider: Active Directory
- Settings file: the original default options with SiteKey and PrivateKey entries for reCaptcha
- Log file:

[code]

**Describe the bug**
Whenever I enable reCaptcha (v2) and the challenge 'I'm not a robot' box appears, PassCore is not able to change user's password and fails with the message 'Could not verify you are not a robot

[2020-01-20 13:00] jagbarcelo commented on #487
This piece of code fixes the issue:

[code]

[2020-01-20 22:30] Serk352 commented on #487
Hi @jagbarcelo,

This bug was fixed in #490.

[2020-01-21 00:03] xerxies opened #491 "IIS install via PowerShell fails due to incorrect Version Check .NET Core Windows Server Hosting bundle"
**PassCore Server**
- OS: [Server 2019 Core]

The IIS install instructions point to .NET Core 3.0.0 Windows Server Hosting bundle as a prerequisite, but the Inststaller.ps1 script is doing a -match on "Microsoft .NET Core Host - 2.2" and pointing to the 'dotnet-runtime-2.2.3-windows-hosting-bundle-installer' file.

**To Reproduce**
Steps to reproduce the behavior:
1. Stand up a fresh 2019 Core ins

[2020-01-21 21:22] Serk352 commented on #491
Hi, @xerxies,

This issue was fixed in #495.

[2020-01-22 17:27] thejockel commented on #400
Hey @Techcadia,
when I try to build Master (using docker) the build fails.

I tried to use version 4.2.2 and replace 'src/Unosquare.PassCore.Web/Startup.cs' manually.
Now the build is successful, unfortunately now I get the same error.

Any ideas?

<img width="1280" alt="Screenshot 2020-01-22 at 18 24 24" src="https://user-images.githubusercontent.com/12292135/72917638-7ea47900-3d44-11ea-9f8b-1587

[2020-01-24 13:10] rpelletierrefocus commented on #402
I am having the same problem. I am trying to change the password of a Domain Admin. There should not be any reason this would be denied.

[2020-01-24 15:17] geoperez commented on #402
@rpelletierrefocus did you get the same error in your logs?

[code]

[2020-01-24 22:08] #409 closed

[2020-01-27 14:41] Xeiro commented on #475
Hello,
I do have same problem as @Adam-North in Safari. Chrome and Firefox are fine.

[2020-01-27 15:04] geoperez commented on #475
@ManuSanRam  can you take a look at Safari?

[2020-01-27 15:41] Xeiro commented on #400
Hello,
I am unable to build passcore from 4.2.1 to 4.2.2 too.

[2020-01-27 15:47] geoperez commented on #400
There is a new version of Novell LDAP Client. Maybe we can take a look.

[2020-01-28 21:42] Serk352 commented on #402
@rpelletierrefocus  I made some changes in the code, could you please try it?

[2020-01-28 22:04] Adam-North commented on #475
This only seems to be happening in my chrome. Other machines I test it on are okay. it might be an extension installed.

[2020-02-01 12:41] #397 closed

[2020-02-03 10:48] lucafabbri365 opened #507 "Custom PassCore color"
Hello,
I'm writing to ask for a (simple) way to customize PassCore, like changing color and/or adding a custom logo. I already read #201 and #249 however can you give me more information or make an example that I can use as a starting point?

Thank you,
Luca

[2020-02-03 15:29] geoperez commented on #507
You can edit the front-end web app, for customization of the colors you need to check Material UI Themes (https://material-ui.com/customization/theming/).

[2020-02-04 09:40] thejockel opened #508 "Docker Build fails"
**PassCore Server**
- OS: [ Linux & macOS]
- Docker Version: 19.03.5
- Provider: [ Active Directory ]
- Settings file (without sensitive information):
- Log file (without sensitive information):

**Describe the bug**
Hey I am not able to build the master branch after this [commit](https://github.com/unosquare/passcore/commit/06b1ac840602477d300f3d93d6c88c7d3c26516f)
Swan seems not to be available.

[2020-02-04 16:53] geoperez commented on #508
Can you check again? I updated the master branch.

[2020-02-05 07:55] thejockel commented on #508
I am able to build again.

THX
Jockel

[2020-02-05 07:55] #508 closed

[2020-02-06 13:14] lucafabbri365 commented on #507
Hello @geoperez,
thank you for your information.
I managed to customize PassCore palette and add custom logo (in place of question mark, on top-right) by modifying these files:

- _App.tsx_
- _ClientAppBar.tsx_
- _common.d.ts_

Thank you,
Luca

[2020-02-06 15:25] geoperez commented on #507
Awesome! Out of curiosity, do you think it was easy?

Don't forget, please star this project if you find it useful!

[2020-02-10 16:48] #440 closed

[2020-02-11 15:46] sps-k12 commented on #278
I am having this same issue with a brand new server 2016 member server.  The workstation where I'm trying to change the password is using chrome.  I have verified that I can change the users password to something very simple using several other methods, but passcore always reports that the password doesn't meet complexity requirements.  Even when I use the https://xkpasswd.net/s/ tool to create a

[2020-02-12 13:46] AndrewStickler opened #523 "PassCore no longer respects the ApplicationTitle property"
**PassCore Server**
- Version 4.2.0
- OS: Windows
- Provider: Active Directory
- Settings file (without sensitive information): N/A
- Log file (without sensitive information): N/A

**Describe the bug**
The ApplicationTitle property in ClientSettings used to populate the <head><title/></head> HTML element on the page, but, probably since the move to React, this is broken and the page title is alway

[2020-02-12 18:33] ipaulo opened #524 "Non-AD, local machine Provider"
**Is your feature request related to a problem? Please describe.**
I have a web application that supports using local Windows users for accounts. It is a standalone server and not connected to a domain. Installing ADS on the server for the sole purpose of allowing passcore to handle password changes is a problem since some components don't like to be installed on a DC.

**Describe the solution you

[2020-02-12 18:38] geoperez commented on #524
Did you already test using `UseAutomaticContext`?

[2020-02-12 22:47] ipaulo commented on #524
Not until you mentioned it but I just tried it. It responds "The LDAP server is unavailable."

[2020-02-13 09:56] lucafabbri365 commented on #507
Hello @geoperez,
I'm not a developer, but I'm an IT person, so using a little bit of logic and investigation I found the way to do a simple customization.

I have two questions/suggestions for you:

1. Is there a way to show a [Throbber](https://en.wikipedia.org/wiki/Throbber) after the user click the "Change Password" button and active until the password change process is not completed ?
2. I'd l

[2020-02-13 16:42] geoperez commented on #507
Hi Luca,

1 - Yeah, it is possible. @Serk352 can you help us?
2 - You can add a popup there, you just need to create a Dialog like this one:

https://github.com/unosquare/passcore/blob/master/src/Unosquare.PassCore.Web/ClientApp/Dialogs/ChangePasswordDialog.tsx#L14

And use it at https://github.com/unosquare/passcore/blob/master/src/Unosquare.PassCore.Web/ClientApp/Components/ChangePasswordForm.ts

[2020-02-13 16:44] geoperez commented on #524
According to this SO post (https://stackoverflow.com/questions/25386240/change-password-of-a-local-windows-user). Can you try?

[2020-02-13 19:02] ipaulo commented on #524
I'm sorry, I don't follow what you are asking me to try from the SO post. Use that snippet to contribute a provider? I found in your code you are already doing a fallback to SetPassword if ChangePassword fails, so I'm not sure where to go.

My assumption has been your tool - as is without AD - will fail because your code cannot talk to the host via LDAP. Non-DCs are not running LDAP.

[2020-02-13 19:39] technicallife commented on #402
@Serk352 @geoperez downloaded the last version - error still exists

[2020-02-13 20:03] geoperez commented on #402
Same error? Do you get something else in the logs?

[2020-02-17 23:29] Serk352 commented on #523
@AndrewStickler this bug was fixed in #528 .

[2020-02-20 10:58] lucafabbri365 opened #534 "reCAPTCHA - Could not verify you are not a robot."
**PassCore Server**
- OS: Windows
- Provider: Active Directory
- PassCore v4.2.2
- Website isn't published yet (currently it's private)

**Describe the bug**
I enabled **reCAPTCHA v2 - Tickbox** (I noticed v3 doesn't work: I receive the error "_ERROR for site owner: Invalid key type_"), but once the user tick the box and change password, it receives the error "_Could not verify you are not a robot

[2020-02-20 17:54] AndrewStickler commented on #523
Excellent, thanks - any rough ETA when it will appear in a new release?

[2020-02-20 17:55] geoperez commented on #523
I can release a new version tomorrow. @Serk352 you agree?

[2020-02-20 17:58] AndrewStickler commented on #523
No need to do it just for me, I can wait until your next scheduled release if its not too far.

[2020-02-20 18:02] Serk352 commented on #523
@geoperez yes, let's do it.

[2020-02-21 20:12] geoperez commented on #523
@AndrewStickler you can check the new version.

[2020-02-25 09:55] AndrewStickler commented on #523
That fix looks good thank you, although I notice the version string at the bottom of the web page says v4.2.0, but perhaps you don't normally update that.

[2020-02-25 16:05] #523 closed

[2020-03-02 15:23] lucafabbri365 opened #549 "New password expiration date information"
Hello,
what about adding the next password expiration date (if any) information in the message appearing to end-user after changed it ("You have change your password successfully") ? It could be something like [this](https://1drv.ms/u/s!ApCM_O5R9lZthPRWzIOj_vVRXEU_Eg?e=BHbg1c).

Bye,
Luca

[2020-03-03 20:00] geoperez commented on #478
I need to check what is going on because the same issue is still happening:

[code]

[2020-03-05 07:50] tiendungitd opened #554 "Unexpected Win32 API error; error code: 80090308"
**PassCore Server**
- OS:  Docker
- Provider: Active Directory in Windows Server 2012
- Docker run command:
`docker run \
-e WebSettings__EnableHttpsRedirect='false' \
-e AppSettings__UseAutomaticContext='false' \
-e AppSettings__LdapHostnames__0='pdc.abc.com' \
-e AppSettings__LdapUsername='CN=adservice,OU=Users,DC=abc,DC=com' \
-e AppSettings__LdapPassword='e8LuvNo' \
-e AppSettings__LdapSearchB

[2020-03-09 06:21] funmix opened #559 "page design not mobile friendly"
Hi, is it possible to make the page to mobile friendly? the page is cut into half. need to change phone orientation to landscape in order to fully view.

![Screenshot_20200309_141848](https://user-images.githubusercontent.com/20920616/76187739-1e449a80-6211-11ea-86c6-bfb9f2c5f21a.jpg)

[2020-03-09 14:59] geoperez commented on #559
It's possible to create a responsive design. unfortunately, we are not planning to have it yet.

PRs are welcome. Passcore is using Material UI, you can check for responsive UI here (https://material-ui.com/guides/responsive-ui/#responsive-ui)

[2020-03-09 23:10] funmix commented on #559
Thanks for reply, maybe can add some code to make it able to scroll at least left and right? the UI in mobile able to scroll to the left, but not scroll to the right. XD

[2020-03-15 01:00] mortezahaidari commented on #189
I had the same issue, i went to the directories through finder... double clicked the "filename.csproj" while having the IDE open. Built it, and it worked like a charm! :)

[2020-03-17 13:51] fabry756 opened #561 "Email template"
Where is the email template that is send when the password expired?

[2020-03-17 14:18] geoperez commented on #561
The email feature is only available in passcorepro. I would recommend you use the report a bug in store.unosquare.con to get support.

[2020-03-17 14:18] #561 closed

[2020-03-20 11:25] illukas opened #562 "No support for modern cipher suites"
**PassCore Server**
- OS: Windows Server 2012 R2
- Provider: Active Directory

**Describe the bug**
Application does not appear to work if only modern TLS 1.2 cipher suites are enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Run IISCryptoGUI as admin
2. Disable everything but TLS 1.2 on both Client and Server.
3. Disable all ciphers but AES 128/128 and AES 256/256
4. Disable MD5 has

[2020-03-20 12:16] kansasdev opened #563 "Configuration issue Unknown error (0x80005000)"
**PassCore Server**
- OS: [Windows]
- Provider: [Active Directory]
- Settings file (without sensitive information):
"UseAutomaticContext": false, // Set true to allow PassCore to reset password using the same credentials, or false if you will fill the credentials below
    "RestrictedADGroups": [
      "Administrators",
      "Domain Admins",
      "Enterprise Admins"
    ], // Set the AD groups t

[2020-03-22 17:57] DrRumack opened #564 "Fail on password change"
Hi,
I installed version 4.2.3 on iis and used default config file.
I got the following log when i tried to change a users password.
Did i configured something wrong or is this a problem in the source code?

Executing endpoint 'Unosquare.PassCore.Web.Controllers.PasswordController.Post (Unosquare.PassCore.Web)'

 Route matched with {action = "Post", controller = "Password"}. Executing controller ac

[2020-03-22 23:47] geoperez commented on #564
@Serk352 can you help me to verify the Group's validations? It looks like there is a null reference.

[2020-03-23 14:02] DrRumack commented on #564
It happens when i leave " "AllowedADGroups": [] " blank.
Now it works when i provided a group name to allowed ad groups but returns complexity error when i try to change the password second time for the same user.

[2020-03-23 15:05] DrRumack commented on #564
Seems like it worked just that one time. I still can't change password for the test user and other users.
But there is no null reference error in the logs now.

[2020-03-24 12:30] Darkomen78 commented on #507
Hi @lucafabbri365 can you show me where did you make your modifications ?
I'm an IT guy too but not really good in JS.

[2020-03-27 23:18] #487 closed

[2020-03-28 22:55] #491 closed

[2020-03-31 03:01] geoperez commented on #562
Do you mount passcore in IIS? Is IIS able to handle those ciphers?

[2020-03-31 03:13] #400 closed

[2020-04-04 23:21] #475 closed

[2020-04-23 04:04] #402 closed

[2020-04-26 23:09] BeastDaBest commented on #42
Hi,
I've installed Passcore on Win Server 2019  Fresh install. For the past 3 hours I've been trying everything and read a lot of different article about error 500.19 with error code : 0x8007000d but still can't figure out how to fix this. I'm sorry it's been very frustrating.

I've installed the latest version of the passcore program and Installed all the application requirements,   but still sam

[2020-04-29 16:11] lmmartinm opened #566 "Running as a sub-application"
**PassCore Server**
- OS: [Windows]
- Provider: [Active Directory]
- Settings file (without sensitive information):
- Log file (without sensitive information):

**Describe the bug**
On https://github.com/unosquare/passcore#installation-on-iis says:
Running as a sub-application

To run as a sub-application you need to modify the base href="/" value in the wwwroot/index.html file to be the base URL

[2020-04-30 05:22] #534 closed

[2020-04-30 05:22] #524 closed

[2020-04-30 19:56] smnzrn commented on #563
I have the same problem on the mac `{errors: [{errorCode: 8, fieldName: null, message: "Unexpected null exception"}], payload: null}`

[2020-05-02 20:33] graingert commented on #329
bump

[2020-05-04 13:39] leonardiw opened #567 "The server is not operational"
**PassCore Server**
- OS: Windows
- Provider: LDAP
- Settings file (without sensitive information):
[stdout_20200504130545_2880.log](https://github.com/unosquare/passcore/files/4574942/stdout_20200504130545_2880.log)
[passcore_config.zip](https://github.com/unosquare/passcore/files/4574947/passcore_config.zip)

- Log file (without sensitive information):

**Describe the bug**
since i'm going to ho

[2020-05-06 03:49] Serk352 commented on #329
Hi, @graingert I added an approach to measure the edit distance using Levenshtein distance as you suggested. You can set the minimum distance between old and new password using the "MinimumDistance" setting.

[2020-05-06 16:30] alex4108 commented on #563
Same issue here

Passcore 4.2.0 on .NET Core 3.0.3 on Windows Server 2016 Core
Using plaintext LDAP and "UseAutomaticContext": false

[2020-05-06 17:30] alex4108 commented on #563
It seems by rolling back to .NET Core 3.0.0 I was able to resolve the issue.
That, or I fat fingered the JSON in the configuration.

[2020-05-07 07:07] jagbarcelo opened #570 "Support for Pwned Passwords API"
**Is your feature request related to a problem? Please describe.**
There are checks to prevent the users from using passwords that do not meet certain set of rules or complexity. Some of those checks could be performed locally. That is the case of the recent changes about distancing passwords (not too similar from the previous one).

However, there are cases where no simple set of rules can be use